## Imports, Glossary

In [2]:
import pandas as pd
import numpy as np
import os
import glob
from collections import defaultdict

# Import Data

## Team Info CSV

Could get the rosters for each home team in both seasons (see promotions, drops/transfers, demotions)

In [3]:
team_info = pd.read_csv('team_info.csv')
'''home_team: Home teams are teams in the same farm system at different levels of minor league (4A is the highest, 1A is the lowest)'''
'''player_id: a unique 3 digit identifier for farm system players, which carry over across leagues. 203 unique ids among 4 home teams and 2 seasons '''
'''team_year: not actually 1883 and 1884, but 2 consecutive years (1883 about half a season, 1884 a full season)'''
'''away_team: non-unique ids, that are assigned for a series (3-4 games) and reanonymized for each series'''
team_info

     home_team  player_id  team_year away_team
0       Home4A        383       1883    Vis4AB
1       Home4A        392       1883    Vis4AB
2       Home4A        431       1883    Vis4AB
3       Home4A        461       1883    Vis4AB
4       Home4A        463       1883    Vis4AB
...        ...        ...        ...       ...
2093    Home1A        838       1884    Vis1BC
2094    Home1A        877       1884    Vis1BC
2095    Home1A        892       1884    Vis1BC
2096    Home1A        953       1884    Vis1BC
2097    Home1A        959       1884    Vis1BC

[2098 rows x 4 columns]

## Game Events CSV

### Season 1883

In [4]:
# game str; the year and sequential day in the season, if the day ends in .5 it means it was the second in a double header. Year_Day_AwayTeam_HomeTeam
#play id is the identifier for a play (defined as a situation where the ball is live), sequentially listed. generally consist of multiple events (e.g the pitch, what happens to the ball, and end of play)
#at bat corresponds to a batter at the plate, some plays such as pick off throws occur duirng an at bat but are not associated with that at bat 
#play per game: play id for a game 
#tiemstamp is the time in ms, starting from the beginning of a game (first play will be t <60s)
#player position is the position corresponding to glossary (check above)
#game events: id, check summary
root_game_event_path = r'game_events/Season_1883/Home1A/'
vis_paths = [f'Vis1A{i}' for i in ['B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']]

dfs = [] 
l = 0 
    
for vis_path in vis_paths:
    dir_path = os.path.join(root_game_event_path, vis_path)
    for dir in os.listdir(dir_path):
        full_path = os.path.join(dir_path, dir)
        if os.path.isdir(full_path):  # Check if it's a directory
            l += 1
            file_path = os.path.join(full_path, 'game_events.csv')
            print(f'Going to read in: {file_path}, file #: {l}')
            df = pd.read_csv(file_path)
            dfs.append(df)

game_events1883_home1a = pd.concat(dfs, ignore_index=True)
print(f'done reading in, total length of game_events1883_home1a: {len(game_events1883_home1a)}')

Going to read in: game_events/Season_1883/Home1A/Vis1AB/day_002/game_events.csv, file #: 1
Going to read in: game_events/Season_1883/Home1A/Vis1AB/day_003/game_events.csv, file #: 2
Going to read in: game_events/Season_1883/Home1A/Vis1AB/day_001/game_events.csv, file #: 3
Going to read in: game_events/Season_1883/Home1A/Vis1AC/day_005/game_events.csv, file #: 4
Going to read in: game_events/Season_1883/Home1A/Vis1AC/day_004/game_events.csv, file #: 5
Going to read in: game_events/Season_1883/Home1A/Vis1AC/day_006/game_events.csv, file #: 6
Going to read in: game_events/Season_1883/Home1A/Vis1AC/day_007/game_events.csv, file #: 7
Going to read in: game_events/Season_1883/Home1A/Vis1AD/day_010/game_events.csv, file #: 8
Going to read in: game_events/Season_1883/Home1A/Vis1AD/day_011/game_events.csv, file #: 9
Going to read in: game_events/Season_1883/Home1A/Vis1AD/day_012/game_events.csv, file #: 10
Going to read in: game_events/Season_1883/Home1A/Vis1AE/day_013/game_events.csv, file #: 11
Going to read in: game_events/Season_1883/Home1A/Vis1AE/day_014/game_events.csv, file #: 12
Going to read in: game_events/Season_1883/Home1A/Vis1AE/day_015/game_events.csv, file #: 13
Going to read in: game_events/Season_1883/Home1A/Vis1AF/day_019/game_events.csv, file #: 14
Going to read in: game_events/Season_1883/Home1A/Vis1AF/day_020/game_events.csv, file #: 15
Going to read in: game_events/Season_1883/Home1A/Vis1AF/day_018/game_events.csv, file #: 16
Going to read in: game_events/Season_1883/Home1A/Vis1AG/day_021/game_events.csv, file #: 17
Going to read in: game_events/Season_1883/Home1A/Vis1AG/day_025/game_events.csv, file #: 18
Going to read in: game_events/Season_1883/Home1A/Vis1AG/day_024/game_events.csv, file #: 19
Going to read in: game_events/Season_1883/Home1A/Vis1AG/day_023/game_events.csv, file #: 20
Going to read in: game_events/Season_1883/Home1A/Vis1AH/day_034/game_events.csv, file #: 21
Going to read in: game_events/Season_1883/Home1A/Vis1AH/day_033/game_events.csv, file #: 22
Going to read in: game_events/Season_1883/Home1A/Vis1AH/day_032/game_events.csv, file #: 23
Going to read in: game_events/Season_1883/Home1A/Vis1AH/day_031/game_events.csv, file #: 24
Going to read in: game_events/Season_1883/Home1A/Vis1AI/day_035/game_events.csv, file #: 25
Going to read in: game_events/Season_1883/Home1A/Vis1AI/day_037/game_events.csv, file #: 26
Going to read in: game_events/Season_1883/Home1A/Vis1AI/day_038/game_events.csv, file #: 27
Going to read in: game_events/Season_1883/Home1A/Vis1AI/day_036/game_events.csv, file #: 28
Going to read in: game_events/Season_1883/Home1A/Vis1AJ/day_050/game_events.csv, file #: 29
Going to read in: game_events/Season_1883/Home1A/Vis1AJ/day_049/game_events.csv, file #: 30
Going to read in: game_events/Season_1883/Home1A/Vis1AJ/day_048/game_events.csv, file #: 31
done reading in, total length of game_events1883_home1a: 33520

In [5]:
root_game_event_path = r'game_events/Season_1883/Home2A/'
vis_paths = [f'Vis2A{i}' for i in ['B', 'C', 'D', 'E']]

dfs = [] 
l = 0 
    
for vis_path in vis_paths:
    dir_path = os.path.join(root_game_event_path, vis_path)
    for dir in os.listdir(dir_path):
        full_path = os.path.join(dir_path, dir)
        if os.path.isdir(full_path):  # Check if it's a directory
            l += 1
            file_path = os.path.join(full_path, 'game_events.csv')
            print(f'Going to read in: {file_path}, file #: {l}')
            df = pd.read_csv(file_path)
            dfs.append(df)

game_events1883_home2a = pd.concat(dfs, ignore_index=True)
print(f'done reading in, total length of game_events1883_home2a: {len(game_events1883_home2a)}')

Going to read in: game_events/Season_1883/Home2A/Vis2AB/day_026/game_events.csv, file #: 1
Going to read in: game_events/Season_1883/Home2A/Vis2AB/day_025/game_events.csv, file #: 2
Going to read in: game_events/Season_1883/Home2A/Vis2AB/day_024/game_events.csv, file #: 3
Going to read in: game_events/Season_1883/Home2A/Vis2AC/day_035/game_events.csv, file #: 4
Going to read in: game_events/Season_1883/Home2A/Vis2AC/day_037/game_events.csv, file #: 5
Going to read in: game_events/Season_1883/Home2A/Vis2AC/day_036/game_events.csv, file #: 6
Going to read in: game_events/Season_1883/Home2A/Vis2AD/day_041.5/game_events.csv, file #: 7
Going to read in: game_events/Season_1883/Home2A/Vis2AD/day_041/game_events.csv, file #: 8
Going to read in: game_events/Season_1883/Home2A/Vis2AD/day_039/game_events.csv, file #: 9
Going to read in: game_events/Season_1883/Home2A/Vis2AE/day_047.5/game_events.csv, file #: 10
Going to read in: game_events/Season_1883/Home2A/Vis2AE/day_047/game_events.csv, file #: 11
Going to read in: game_events/Season_1883/Home2A/Vis2AE/day_046/game_events.csv, file #: 12
done reading in, total length of game_events1883_home2a: 11924

In [6]:
root_game_event_path = r'game_events/Season_1883/Home3A/'
vis_paths = [f'Vis3A{i}' for i in ['B', 'C', 'D', 'E','F']]
dfs = [] 
l = 0 
    
for vis_path in vis_paths:
    dir_path = os.path.join(root_game_event_path, vis_path)
    for dir in os.listdir(dir_path):
        l += 1
        file_path = os.path.join(dir_path, dir, 'game_events.csv')
        print(f'Going to read in: {file_path}, file #: {l}')
        df = pd.read_csv(file_path)
        dfs.append(df)

game_events1883_home3a = pd.concat(dfs, ignore_index=True)
print(f'done reading in,total length of game_events1883_home3a: {len(game_events1883_home3a)}')

Going to read in: game_events/Season_1883/Home3A/Vis3AB/day_010/game_events.csv, file #: 1
Going to read in: game_events/Season_1883/Home3A/Vis3AB/day_011/game_events.csv, file #: 2
Going to read in: game_events/Season_1883/Home3A/Vis3AB/day_013/game_events.csv, file #: 3
Going to read in: game_events/Season_1883/Home3A/Vis3AB/day_012/game_events.csv, file #: 4
Going to read in: game_events/Season_1883/Home3A/Vis3AC/day_017/game_events.csv, file #: 5
Going to read in: game_events/Season_1883/Home3A/Vis3AC/day_018/game_events.csv, file #: 6
Going to read in: game_events/Season_1883/Home3A/Vis3AC/day_016/game_events.csv, file #: 7
Going to read in: game_events/Season_1883/Home3A/Vis3AD/day_028.5/game_events.csv, file #: 8
Going to read in: game_events/Season_1883/Home3A/Vis3AD/day_028/game_events.csv, file #: 9
Going to read in: game_events/Season_1883/Home3A/Vis3AD/day_029/game_events.csv, file #: 10
Going to read in: game_events/Season_1883/Home3A/Vis3AD/day_030/game_events.csv, file #: 11
Going to read in: game_events/Season_1883/Home3A/Vis3AE/day_040/game_events.csv, file #: 12
Going to read in: game_events/Season_1883/Home3A/Vis3AE/day_041/game_events.csv, file #: 13
Going to read in: game_events/Season_1883/Home3A/Vis3AE/day_039/game_events.csv, file #: 14
Going to read in: game_events/Season_1883/Home3A/Vis3AE/day_038/game_events.csv, file #: 15
Going to read in: game_events/Season_1883/Home3A/Vis3AF/day_044/game_events.csv, file #: 16
Going to read in: game_events/Season_1883/Home3A/Vis3AF/day_043/game_events.csv, file #: 17
Going to read in: game_events/Season_1883/Home3A/Vis3AF/day_045/game_events.csv, file #: 18
done reading in,total length of game_events1883_home3a: 20234

In [7]:
root_game_event_path = r'game_events/Season_1883/Home4A/'
vis_paths = [f'Vis4A{i}' for i in ['B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']]
dfs = [] 
l = 0 
    
for vis_path in vis_paths:
    dir_path = os.path.join(root_game_event_path, vis_path)
    for dir in os.listdir(dir_path):
        l += 1
        file_path = os.path.join(dir_path, dir, 'game_events.csv')
        print(f'Going to read in: {file_path}, file #: {l}')
        df = pd.read_csv(file_path)
        dfs.append(df)

game_events1883_home4a = pd.concat(dfs, ignore_index=True)
print(f'done reading in, total length of game_events1883_home4a: {len(game_events1883_home4a)}')

Going to read in: game_events/Season_1883/Home4A/Vis4AB/day_002/game_events.csv, file #: 1
Going to read in: game_events/Season_1883/Home4A/Vis4AB/day_003/game_events.csv, file #: 2
Going to read in: game_events/Season_1883/Home4A/Vis4AB/day_001/game_events.csv, file #: 3
Going to read in: game_events/Season_1883/Home4A/Vis4AC/day_005/game_events.csv, file #: 4
Going to read in: game_events/Season_1883/Home4A/Vis4AC/day_004/game_events.csv, file #: 5
Going to read in: game_events/Season_1883/Home4A/Vis4AC/day_006/game_events.csv, file #: 6
Going to read in: game_events/Season_1883/Home4A/Vis4AD/day_010/game_events.csv, file #: 7
Going to read in: game_events/Season_1883/Home4A/Vis4AD/day_008/game_events.csv, file #: 8
Going to read in: game_events/Season_1883/Home4A/Vis4AD/day_009/game_events.csv, file #: 9
Going to read in: game_events/Season_1883/Home4A/Vis4AE/day_011/game_events.csv, file #: 10
Going to read in: game_events/Season_1883/Home4A/Vis4AE/day_013/game_events.csv, file #: 11
Going to read in: game_events/Season_1883/Home4A/Vis4AE/day_014/game_events.csv, file #: 12
Going to read in: game_events/Season_1883/Home4A/Vis4AE/day_012/game_events.csv, file #: 13
Going to read in: game_events/Season_1883/Home4A/Vis4AF/day_017/game_events.csv, file #: 14
Going to read in: game_events/Season_1883/Home4A/Vis4AF/day_019/game_events.csv, file #: 15
Going to read in: game_events/Season_1883/Home4A/Vis4AF/day_018/game_events.csv, file #: 16
Going to read in: game_events/Season_1883/Home4A/Vis4AG/day_026/game_events.csv, file #: 17
Going to read in: game_events/Season_1883/Home4A/Vis4AG/day_025/game_events.csv, file #: 18
Going to read in: game_events/Season_1883/Home4A/Vis4AG/day_024/game_events.csv, file #: 19
Going to read in: game_events/Season_1883/Home4A/Vis4AH/day_028/game_events.csv, file #: 20
Going to read in: game_events/Season_1883/Home4A/Vis4AH/day_027/game_events.csv, file #: 21
Going to read in: game_events/Season_1883/Home4A/Vis4AH/day_029/game_events.csv, file #: 22
Going to read in: game_events/Season_1883/Home4A/Vis4AH/day_030/game_events.csv, file #: 23
Going to read in: game_events/Season_1883/Home4A/Vis4AI/day_040/game_events.csv, file #: 24
Going to read in: game_events/Season_1883/Home4A/Vis4AI/day_041/game_events.csv, file #: 25
Going to read in: game_events/Season_1883/Home4A/Vis4AI/day_039/game_events.csv, file #: 26
Going to read in: game_events/Season_1883/Home4A/Vis4AI/day_038/game_events.csv, file #: 27
Going to read in: game_events/Season_1883/Home4A/Vis4AJ/day_044/game_events.csv, file #: 28
Going to read in: game_events/Season_1883/Home4A/Vis4AJ/day_043/game_events.csv, file #: 29
Going to read in: game_events/Season_1883/Home4A/Vis4AJ/day_042/game_events.csv, file #: 30
done reading in, total length of game_events1883_home4a: 33715

In [8]:
game_events_season1883 = pd.concat([game_events1883_home1a, game_events1883_home2a, game_events1883_home3a, game_events1883_home4a], ignore_index=True)
game_events_season1883

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
0,1883_002_Vis1AB_Home1A,1,1.0,1,22112,1,1
1,1883_002_Vis1AB_Home1A,1,1.0,1,22562,0,5
2,1883_002_Vis1AB_Home1A,1,1.0,1,22562,2,2
3,1883_002_Vis1AB_Home1A,2,1.0,2,37312,1,1
4,1883_002_Vis1AB_Home1A,2,1.0,2,37812,0,5
...,...,...,...,...,...,...,...
99388,1883_042_Vis4AJ_Home4A,363,88.0,363,11590840,255,16
99389,1883_042_Vis4AJ_Home4A,363,88.0,363,11590940,5,2
99390,1883_042_Vis4AJ_Home4A,363,88.0,363,11592140,5,3
99391,1883_042_Vis4AJ_Home4A,363,88.0,363,11592890,4,2
99392,1883_042_Vis4AJ_Home4A,363,88.0,363,11593790,0,5

### Season 1884

In [9]:
dfs = []

root_path = 'game_events/Season_1884/'


for home_dir in ['Home1A', 'Home2A', 'Home3A', 'Home4A']:
    home_path = os.path.join(root_path, home_dir)
    for vis_dir in os.listdir(home_path):
        vis_path = os.path.join(home_path, vis_dir)
        if os.path.isdir(vis_path):  # Check if vis_path is a directory
            for day_dir in os.listdir(vis_path):
                day_path = os.path.join(vis_path, day_dir)
                if os.path.isdir(day_path):  # Check if day_path is a directory
                    csv_path = os.path.join(day_path, 'game_events.csv')
                    if os.path.isfile(csv_path):
                        df = pd.read_csv(csv_path)
                        dfs.append(df)

game_events_season1884 = pd.concat(dfs, ignore_index=True)
game_events_season1884

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
0,1884_137_Vis1BC_Home1A,1,1.0,1,46010,1,1
1,1884_137_Vis1BC_Home1A,1,1.0,1,46439,2,2
2,1884_137_Vis1BC_Home1A,1,1.0,1,46472,0,5
3,1884_137_Vis1BC_Home1A,2,1.0,2,57098,1,1
4,1884_137_Vis1BC_Home1A,2,1.0,2,57494,10,4
...,...,...,...,...,...,...,...
263639,1884_007_Vis4AL_Home4A,298,72.0,298,9916259,5,2
263640,1884_007_Vis4AL_Home4A,298,72.0,298,9917909,5,3
263641,1884_007_Vis4AL_Home4A,298,72.0,298,9919009,255,16
263642,1884_007_Vis4AL_Home4A,298,72.0,298,9919109,3,2
263643,1884_007_Vis4AL_Home4A,298,72.0,298,9919609,0,5

Ending CSVs: game_events_season1884, game_events_season1883

## Ball Pos CSV

### Season 1883

In [10]:
dfs = []

root_path = 'ball_pos/Season_1883/'


for home_dir in ['Home1A', 'Home2A', 'Home3A', 'Home4A']:
    home_path = os.path.join(root_path, home_dir)
    if os.path.isdir(home_path):  # Check if home_path is a directory
        for vis_dir in os.listdir(home_path):
            vis_path = os.path.join(home_path, vis_dir)
            if os.path.isdir(vis_path):  # Check if vis_path is a directory
                for day_dir in os.listdir(vis_path):
                    day_path = os.path.join(vis_path, day_dir)
                    if os.path.isdir(day_path):  # Check if day_path is a directory
                        csv_path = os.path.join(day_path, 'ball_pos.csv')
                        if os.path.isfile(csv_path):
                            df = pd.read_csv(csv_path)
                            dfs.append(df)


ball_pos_season1883 = pd.concat(dfs, ignore_index=True)
ball_pos_season1883

,game_str,play_id,timestamp,ball_position_x,ball_position_y,ball_position_z
0,1883_002_Vis1AB_Home1A,1,22112,0.891828,54.12030,5.553450
1,1883_002_Vis1AB_Home1A,1,22162,0.940503,47.50860,5.285460
2,1883_002_Vis1AB_Home1A,1,22212,0.957876,40.96890,4.959120
3,1883_002_Vis1AB_Home1A,1,22262,0.943944,34.50120,4.574400
4,1883_002_Vis1AB_Home1A,1,22312,0.898710,28.10607,4.131360
...,...,...,...,...,...,...
743356,1883_001_Vis4AB_Home4A,263,9453652,47.478000,82.21890,2.794281
743357,1883_001_Vis4AB_Home4A,263,9453702,50.974800,78.79110,2.123898
743358,1883_001_Vis4AB_Home4A,263,9453752,54.427200,75.38160,1.385064
743359,1883_001_Vis4AB_Home4A,263,9453802,57.835200,71.99040,0.577776
743360,1883_001_Vis4AB_Home4A,263,9453852,61.198800,68.61750,-0.297961

### Season 1884

In [11]:
dfs = []

root_path = 'ball_pos/Season_1884/'


for home_dir in ['Home1A', 'Home2A', 'Home3A', 'Home4A']:
    home_path = os.path.join(root_path, home_dir)
    if os.path.isdir(home_path):  # Check if home_path is a directory
        for vis_dir in os.listdir(home_path):
            vis_path = os.path.join(home_path, vis_dir)
            if os.path.isdir(vis_path):  # Check if vis_path is a directory
                for day_dir in os.listdir(vis_path):
                    day_path = os.path.join(vis_path, day_dir)
                    if os.path.isdir(day_path):  # Check if day_path is a directory
                        csv_path = os.path.join(day_path, 'ball_pos.csv')
                        if os.path.isfile(csv_path):
                            df = pd.read_csv(csv_path)
                            dfs.append(df)

ball_pos_season1884 = pd.concat(dfs, ignore_index=True)
ball_pos_season1884

,game_str,play_id,timestamp,ball_position_x,ball_position_y,ball_position_z
0,1884_137_Vis1BC_Home1A,1,46010,-1.059618,50.3259,5.110950
1,1884_137_Vis1BC_Home1A,1,46043,-0.831393,45.9324,4.880490
2,1884_137_Vis1BC_Home1A,1,46076,-0.612414,41.5746,4.632090
3,1884_137_Vis1BC_Home1A,1,46109,-0.402681,37.2525,4.365780
4,1884_137_Vis1BC_Home1A,1,46142,-0.202194,32.9658,4.081500
...,...,...,...,...,...,...
2080959,1884_007_Vis4AL_Home4A,298,9918909,45.647100,68.1357,1.246203
2080960,1884_007_Vis4AL_Home4A,298,9918959,49.756200,67.3356,0.339675
2080961,1884_007_Vis4AL_Home4A,298,9919009,53.819700,66.5178,-0.636369
2080962,1884_007_Vis4AL_Home4A,298,9919059,57.504900,65.6523,-0.099150
2080963,1884_007_Vis4AL_Home4A,298,9919109,61.281600,65.2512,0.000000

## Player Pos CSV

### Season 1883

In [12]:
dfs = []
root_path = 'player_pos/Season_1883/'

for home_dir in ['Home1A', 'Home2A', 'Home3A', 'Home4A']:
    home_path = os.path.join(root_path, home_dir)
    for vis_dir in os.listdir(home_path):
        if vis_dir == '.DS_Store':
            continue
        vis_path = os.path.join(home_path, vis_dir)
        for day_dir in os.listdir(vis_path):
            if day_dir == '.DS_Store':
                continue
            day_path = os.path.join(vis_path, day_dir)
            csv_path = os.path.join(day_path, 'player_pos.csv')
            if os.path.isfile(csv_path):
                df = pd.read_csv(csv_path)
                dfs.append(df)

player_pos_season1883 = pd.concat(dfs, ignore_index=True)
player_pos_season1883

,game_str,play_id,timestamp,player_position,field_x,field_y
0,1883_002_Vis1AB_Home1A,1,22112,1,-0.5799,55.5510
1,1883_002_Vis1AB_Home1A,1,22112,2,0.0000,-4.5000
2,1883_002_Vis1AB_Home1A,1,22112,3,46.4301,76.6185
3,1883_002_Vis1AB_Home1A,1,22112,4,23.1222,147.9099
4,1883_002_Vis1AB_Home1A,1,22112,5,-61.9377,76.1523
...,...,...,...,...,...,...
12095641,1883_001_Vis4AB_Home4A,263,9454252,9,105.7641,224.4330
12095642,1883_001_Vis4AB_Home4A,263,9454252,10,67.6869,69.0168
12095643,1883_001_Vis4AB_Home4A,263,9454252,11,3.3825,127.4442
12095644,1883_001_Vis4AB_Home4A,263,9454252,16,6.5193,99.1725
12095645,1883_001_Vis4AB_Home4A,263,9454252,18,75.7332,89.7891

### Season 1884

In [13]:


dfs = []

root_path = 'player_pos/Season_1884/'

for home_dir in ['Home1A', 'Home2A', 'Home3A', 'Home4A']:
    home_path = os.path.join(root_path, home_dir)
    if os.path.isdir(home_path):  # Ensure home_path is a directory
        for vis_dir in os.listdir(home_path):
            vis_path = os.path.join(home_path, vis_dir)
            if os.path.isdir(vis_path):  # Ensure vis_path is a directory
                for day_dir in os.listdir(vis_path):
                    if day_dir == '.DS_Store':
                        continue
                    day_path = os.path.join(vis_path, day_dir)
                    if os.path.isdir(day_path):  # Ensure day_path is a directory
                        csv_path = os.path.join(day_path, 'player_pos.csv')
                        if os.path.isfile(csv_path):
                            df = pd.read_csv(csv_path)
                            dfs.append(df)

player_pos_season1884 = pd.concat(dfs, ignore_index=True)
print(player_pos_season1884)

                        game_str  play_id  timestamp  player_position  \
0         1884_137_Vis1BC_Home1A        1      46010                1
1         1884_137_Vis1BC_Home1A        1      46010                2
2         1884_137_Vis1BC_Home1A        1      46010                3
3         1884_137_Vis1BC_Home1A        1      46010                4
4         1884_137_Vis1BC_Home1A        1      46010                5
...                          ...      ...        ...              ...
87941203  1884_007_Vis4AL_Home4A      298    9919609                9
87941204  1884_007_Vis4AL_Home4A      298    9919609               10
87941205  1884_007_Vis4AL_Home4A      298    9919609               17
87941206  1884_007_Vis4AL_Home4A      298    9919609               18
87941207  1884_007_Vis4AL_Home4A      298    9919609               19

           field_x   field_y
0           0.3525   57.0498
1           0.0765   -5.3778
2          77.7816   90.5169
3          50.7480  137.8917
4         -39.7566   80.4018
...            ...       ...
87941203  108.3837  193.4163
87941204   56.1000   60.0066
87941205  -45.0933  106.8552
87941206   65.4312   87.9636
87941207  -85.1868   57.4677

[87941208 rows x 6 columns]

## Game Info CSV

### Season 1883

In [14]:
dfs = []

root_path = 'game_info/Season_1883/'


for home_dir in ['Home1A', 'Home2A', 'Home3A', 'Home4A']:
    home_path = os.path.join(root_path, home_dir)
    for vis_dir in os.listdir(home_path):
        if vis_dir == '.DS_Store':
            continue
        vis_path = os.path.join(home_path, vis_dir)
        for day_dir in os.listdir(vis_path):
            if day_dir == '.DS_Store':
                continue
            day_path = os.path.join(vis_path, day_dir)
            csv_path = os.path.join(day_path, 'game_info.csv')
            if os.path.isfile(csv_path):
                df = pd.read_csv(csv_path)
                dfs.append(df)

game_info_season1883 = pd.concat(dfs, ignore_index=True)
game_info_season1883

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
0,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,1,1,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,2,1,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,3,1,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,4,1,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,5,1,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26182,1883_001_Vis4AB_Home4A,Home4A,Vis4AB,63.0,260,9,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26183,1883_001_Vis4AB_Home4A,Home4A,Vis4AB,64.0,261,9,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26184,1883_001_Vis4AB_Home4A,Home4A,Vis4AB,64.0,262,9,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26185,1883_001_Vis4AB_Home4A,Home4A,Vis4AB,64.0,263,9,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26186,1883_001_Vis4AB_Home4A,Home4A,Vis4AB,64.0,264,9,top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Season 1884

In [15]:
dfs = []

root_path = 'game_info/Season_1884/'


for home_dir in ['Home1A', 'Home2A', 'Home3A', 'Home4A']:
    home_path = os.path.join(root_path, home_dir)
    if os.path.isdir(home_path):  # Ensure home_path is a directory
        for vis_dir in os.listdir(home_path):
            vis_path = os.path.join(home_path, vis_dir)
            if os.path.isdir(vis_path):  # Ensure vis_path is a directory
                for day_dir in os.listdir(vis_path):
                    day_path = os.path.join(vis_path, day_dir)
                    if os.path.isdir(day_path):  # Ensure day_path is a directory
                        csv_path = os.path.join(day_path, 'game_info.csv')
                        if os.path.isfile(csv_path):  # Ensure csv_path is a file
                            df = pd.read_csv(csv_path)
                            dfs.append(df)

game_info_season1884 = pd.concat(dfs, ignore_index=True)
game_info_season1884

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
0,1884_137_Vis1BC_Home1A,Home1A,Vis1BC,1.0,1,1,top,523.0,953.0,423.0,959.0,838.0,630.0,892.0,435.0,787.0,4716.0,NaN,NaN,NaN
1,1884_137_Vis1BC_Home1A,Home1A,Vis1BC,1.0,2,1,top,523.0,953.0,423.0,959.0,838.0,630.0,892.0,435.0,787.0,4716.0,NaN,NaN,NaN
2,1884_137_Vis1BC_Home1A,Home1A,Vis1BC,2.0,3,1,top,523.0,953.0,423.0,959.0,838.0,630.0,892.0,435.0,787.0,4394.0,NaN,NaN,NaN
3,1884_137_Vis1BC_Home1A,Home1A,Vis1BC,3.0,4,1,top,523.0,953.0,423.0,959.0,838.0,630.0,892.0,435.0,787.0,9761.0,NaN,NaN,NaN
4,1884_137_Vis1BC_Home1A,Home1A,Vis1BC,3.0,5,1,top,523.0,953.0,423.0,959.0,838.0,630.0,892.0,435.0,787.0,9761.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69220,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,71.0,294,9,top,792.0,520.0,467.0,586.0,835.0,636.0,427.0,776.0,638.0,2746.0,5631.0,NaN,NaN
69221,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,71.0,295,9,top,792.0,520.0,467.0,586.0,835.0,636.0,427.0,776.0,638.0,2746.0,5631.0,NaN,NaN
69222,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,71.0,296,9,top,792.0,520.0,467.0,586.0,835.0,636.0,427.0,776.0,638.0,2746.0,5631.0,NaN,NaN
69223,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,71.0,297,9,top,792.0,520.0,467.0,586.0,835.0,636.0,427.0,776.0,638.0,2746.0,5631.0,NaN,NaN
69224,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,72.0,298,9,top,792.0,520.0,467.0,586.0,835.0,636.0,427.0,776.0,638.0,9279.0,NaN,NaN,NaN

# Catch Model

In [16]:
unique_player_ids = team_info['player_id'].nunique()
print(f"Number of unique player IDs: {unique_player_ids}")

Number of unique player IDs: 203

In [17]:
# from jason
center_fielders = pd.read_csv("cents2.csv")
right_fielders = pd.read_csv("rights2.csv")
left_fielders = pd.read_csv("lefts2.csv")
team_info_updated = pd.read_csv("team_info_updated.csv")
fielders = pd.concat([center_fielders, right_fielders, left_fielders], ignore_index=True)

## Game Info modifications

I left the read-in csvs in their season separated format. So first concatenate the game_info seasonal dataframes into one general one. Then convert the NaNs to 0, and the float values to integer value for the position information. One thing is the game_info CSVs are missing quite a bit of information about the batters, which cuts into the available plays we want to analyze, since we don't know who is playing during those plays. We are going to assume that players will not switch out midgame, i.e if an outfielder is playing at the top of the 1st inning, its safe to assume they will be an outfielder for the whole game. As such, if we have at least one row for a game string where the players are defined at the top of the inning, we can fill out the rest of the inning.

In [299]:
# Concatenate all the game_infos from both seasons
game_info = pd.concat([game_info_season1883, game_info_season1884], ignore_index=True)
game_info = game_info.fillna(0)
cols = ['pitcher', 'catcher', 'first_base', 'second_base', 'third_base', 'shortstop', 'left_field', 'center_field', 'right_field', 'batter', 'first_baserunner','second_baserunner', 'third_baserunner']
game_info[cols] = game_info[cols].astype(int)
game_info

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
0,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,1,1,top,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,2,1,top,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,3,1,top,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,4,1,top,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1883_002_Vis1AB_Home1A,Home1A,Vis1AB,1.0,5,1,top,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,71.0,294,9,top,792,520,467,586,835,636,427,776,638,2746,5631,0,0
95408,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,71.0,295,9,top,792,520,467,586,835,636,427,776,638,2746,5631,0,0
95409,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,71.0,296,9,top,792,520,467,586,835,636,427,776,638,2746,5631,0,0
95410,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,71.0,297,9,top,792,520,467,586,835,636,427,776,638,2746,5631,0,0
95411,1884_007_Vis4AL_Home4A,Home4A,Vis4AL,72.0,298,9,top,792,520,467,586,835,636,427,776,638,9279,0,0,0

In [300]:
groups = game_info.groupby('game_str') # First group the dataframe by the game_str (since each game has a unique game_str)
game_info_filled = pd.DataFrame()

for name, group in groups:
    defined_outfield = group[(group['top_bottom'] == 'top') & ((group['left_field'] != 0) |  (group['right_field'] != 0) |  (group['center_field'] != 0) )]
    # This is a check for if it is the top of the inning, and if any of the positions we care about are defined (i.e not 0)
    if not defined_outfield.empty: #If there are such rows
        left_field_id = defined_outfield['left_field'].loc[defined_outfield['left_field'] != 0].iloc[0] if not defined_outfield['left_field'].loc[defined_outfield['left_field'] != 0].empty else 0
        center_field_id = defined_outfield['center_field'].loc[defined_outfield['center_field'] != 0].iloc[0] if not defined_outfield['center_field'].loc[defined_outfield['center_field'] != 0].empty else 0
        right_field_id = defined_outfield['right_field'].loc[defined_outfield['right_field'] != 0].iloc[0] if not defined_outfield['right_field'].loc[defined_outfield['right_field'] != 0].empty else 0
        #These long lines basically just say if any of the fields are non zero, we want to assign the fielder ids 

        group.loc[(group['top_bottom'] == 'top') & (group['left_field'] == 0), 'left_field'] = left_field_id
        group.loc[(group['top_bottom'] == 'top') & (group['center_field'] == 0), 'center_field'] = center_field_id
        group.loc[(group['top_bottom'] == 'top') & (group['right_field'] == 0), 'right_field'] = right_field_id
        #These lines assign the fielder ids to the rows that are missing them
    
    game_info_filled = pd.concat([game_info_filled, group], ignore_index=True)

With my earlier annotation, we will now check within each game string, if there is at least one instance where it is labelled as the top of the inning, and the outfielders positions are defined, we will fill out the whole game's top of the innings with that information. I only do this for the outfielders because we don't care about the other players. We know that the away team bats on top of innings, so we just check for "top" and the play ids. One limitation is if the inning and top_bottom is also not defined (i.e 0), I deal with this case later. As you can see in the dataframe above, in cases where another row is undefined, we have defined left_field, center_field and right_field.

In [301]:
print(f"Number of rows with undefined fielder position: {len(game_info_filled[(game_info_filled['left_field'] == 0) | (game_info_filled['center_field'] == 0) | (game_info_filled['right_field'] == 0)])} "
      f"\nNumber of rows where this is the bottom of the inning (and hence home team is batting) : {len(game_info_filled[ (game_info_filled['top_bottom'] == 'bottom')& ((game_info_filled['left_field'] == 0) | (game_info_filled['center_field'] == 0) | (game_info_filled['right_field'] == 0) )])}"
      f"\nNumber of rows where the inning is just undefined and thus our assumption doesn't hold: {len(game_info_filled[ (game_info_filled['top_bottom'] == 0)& ((game_info_filled['left_field'] == 0) | (game_info_filled['center_field'] == 0) | (game_info_filled['right_field'] == 0) )])}"
      f"\nNumber of rows where it is the top of the inning, and we still have no positional information (i.e for the entire game, we don't know the player ids of the people playing outfield): {len(game_info_filled[ (game_info_filled['top_bottom'] == 'top')& ((game_info_filled['left_field'] == 0) | (game_info_filled['center_field'] == 0) | (game_info_filled['right_field'] == 0) )])}")

Number of rows with undefined fielder position: 11784
Number of rows where this is the bottom of the inning (and hence home team is batting) : 7255
Number of rows where the inning is just undefined and thus our assumption doesn't hold: 3284
Number of rows where it is the top of the inning, and we still have no positional information (i.e for the entire game, we don't know the player ids of the people playing outfield): 1245

For this last line of the print, I will look more closely at these game strings to verify that they really don't have any game_info at all about the players in the game.

In [302]:
unique_games_top_undefined_positions = game_info_filled[(game_info_filled['top_bottom'] == 'top') & ((game_info_filled['left_field'] == 0) | (game_info_filled['center_field'] == 0) | (game_info_filled['right_field'] == 0))]['game_str'].nunique()

print(f"Number of unique games with undefined outfield positions: {unique_games_top_undefined_positions}")
print(f"Array of these games: {game_info_filled[(game_info_filled['top_bottom'] == 'top') & ((game_info_filled['left_field'] == 0) | (game_info_filled['center_field'] == 0) | (game_info_filled['right_field'] == 0))]['game_str'].unique()}")

Number of unique games with undefined outfield positions: 11
Array of these games: ['1883_002_Vis1AB_Home1A' '1883_004_Vis1AC_Home1A'
 '1883_005_Vis1AC_Home1A' '1883_012_Vis1AD_Home1A'
 '1883_012_Vis4AE_Home4A' '1883_014_Vis1AE_Home1A'
 '1883_015_Vis1AE_Home1A' '1883_018_Vis3AC_Home3A'
 '1883_020_Vis1AF_Home1A' '1883_049_Vis1AJ_Home1A'
 '1884_013_Vis2AG_Home2A']

As you can see, there were 11 such games where there were supposedly no defined player ids for the outfielder position and inning information. I found that for game_str = 1883_004_Vis1AC_Home1A, 1883_005_Vis1AC_Home1A, 1883_014_Vis1AE_Home1A, 1883_020_Vis1AF_Home1A, 1883_015_Vis1AE_Home1A, 1883_018_Vis3AC_Home3A, and 1883_049_Vis1AJ_Home1A this was mostly true, i.e there was a singular row where the player ids would be defined, but their inning was not defined. In these cases, we also know that by definition the home team's player ids are 3 digits, so we can fill in these games using that fact. This way we can recover 7 more games worth of data (although we are still uncertain about some of the innings, most of the innings are labelled as top or bottom)

In [303]:
# Recover the 7 games of data that are missing information

game_str_to_recover = game_info_filled[(game_info_filled['top_bottom'] == 'top') & ((game_info_filled['left_field'] == 0) | (game_info_filled['center_field'] == 0) | (game_info_filled['right_field'] == 0))]['game_str'].unique()

for game in game_str_to_recover:
    game_rows = game_info_filled[game_info_filled['game_str'] == game] #Specify the rows of one of the games we want to recover 

    for position in ['left_field', 'center_field', 'right_field']:
        valid_rows = game_rows[(game_rows[position] != 0) & (game_rows[position].apply(lambda x: len(str(x)) == 3))] #check  if the any of the fielder positions is not zero, and then check if is also 3 digits long
    
        if not valid_rows.empty: #If there are such rows
            #get the first index of this 3 digit id
            v = valid_rows[position].iloc[0]
            condition = (game_info_filled['game_str'] == game) & (game_info_filled['top_bottom'] == 'top') & (game_info_filled[position] == 0) #Identify the same conditions in the earlier code block

            game_info_filled.loc[condition, position] = v #Assign the 3 digit id to the rows that are missing it

One step further, there are some games where the player_ids are defined in game_info, but the top_bottom is undefined. In this case, we can still assume that if there are 3 digit player_ids in the outfielder rows, that is probably the top of the inning and the home team is fielding. So the top_bottom == "top" condition isn't required if we see the player_ids are filled out. We cannot use this assumption with the rows where there is neither information on the players or the inning.

In [304]:
# Fill in the games where we see a 3 digit id for the outfielders.
# We can recover the top_bottom information this way. 
game_info_filled[game_info_filled['top_bottom'] == 0]

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
14,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,0.0,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,0.0,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,0.0,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,0.0,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,0.0,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85141,1884_121_Vis2AU_Home2A,Home2A,Vis2AU,76.0,298,0,0,669209,669737,676730,670765,661439,650506,663897,656514,620452,0,973,471,993
85142,1884_121_Vis2AU_Home2A,Home2A,Vis2AU,76.0,299,0,0,669209,669737,676730,670765,661439,650506,663897,656514,620452,0,973,471,993
85143,1884_121_Vis2AU_Home2A,Home2A,Vis2AU,77.0,300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
85144,1884_121_Vis2AU_Home2A,Home2A,Vis2AU,77.0,301,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
85145,1884_121_Vis2AU_Home2A,Home2A,Vis2AU,78.0,302,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

Now I run the exact same print statements to check how many rows we recovered from the last print statement. As you can see, the number of rows went from 1245 to 456, a 64% decrease which makes perfect sense since we recovered 7/11 (63.6%) of the games.

In [305]:
print(f"\nNumber of rows where it is the top of the inning, and we still have no positional information (i.e for the entire game, we don't know the player ids of the people playing outfield): {len(game_info_filled[ (game_info_filled['top_bottom'] == 'top')& ((game_info_filled['left_field'] == 0) | (game_info_filled['center_field'] == 0) | (game_info_filled['right_field'] == 0) )])}")

Number of rows where it is the top of the inning, and we still have no positional information (i.e for the entire game, we don't know the player ids of the people playing outfield): 456

From Jason's CSVs, convert the dataframes of fielders to lists. Then use the set operation to get rid of duplicate IDs (because one thing we noticed was that players would switch between the sides of the outfield they play and thus be repeated as both a right fielder and center fielder for example). Afterwards, we are only interested in the rows where a player we are interested in (the outfielders) are listed on the roster. So we filter the original game_info dataframe to only have the rows where a fielder is identified to be in the left_field, center_field or right_field. We can use this information to figure out which games we are interested in.

In [306]:
# Now want to get all the game_str, player_per_game, home team + away team where any of the player IDs in the fielders list appears 
center_fielders_ids = center_fielders['center_field'].tolist()
left_fielders_ids = left_fielders['left_field'].tolist()
right_fielders_ids = right_fielders['right_field'].tolist()
fielders_ids = list(set(center_fielders_ids + left_fielders_ids + right_fielders_ids)) #gets rid of duplicate ids 

#Filter the rows in game_info where any of the player IDs in the fielders list appears
game_info_fielders = game_info_filled[
    (game_info_filled['left_field'].isin(fielders_ids)) | 
    (game_info_filled['center_field'].isin(fielders_ids)) |
    (game_info_filled['right_field'].isin(fielders_ids))] # make a new df of only the rows where a fielder is in the game (from the home team player ids)

In [307]:
game_info_fielders[game_info_fielders['game_str'] == '1883_020_Vis1AF_Home1A']

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
11119,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,0.0,15,0,0,858,408,807,442,856,513,492,495,435,4935,2236,0,0
11146,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,0.0,42,0,0,858,408,807,442,856,513,492,495,435,8322,6645,0,0
11185,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,20.0,81,3,top,0,0,0,0,0,0,492,495,435,0,0,0,0
11186,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,21.0,82,3,top,0,0,0,0,0,0,492,495,435,0,0,0,0
11211,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,26.0,107,4,top,0,0,0,0,0,0,492,495,435,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11378,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,68.0,274,9,top,0,0,0,0,0,0,492,495,435,0,0,0,0
11379,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,68.0,275,9,top,0,0,0,0,0,0,492,495,435,0,0,0,0
11380,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,69.0,276,9,top,0,0,0,0,0,0,492,495,435,0,0,0,0
11381,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,69.0,277,9,top,0,0,0,0,0,0,492,495,435,0,0,0,0
11383,1883_020_Vis1AF_Home1A,Home1A,Vis1AF,69.0,279,9,top,0,0,0,0,0,0,492,495,435,0,0,0,0

We expect to recover ideally as close to as all the top of the innings (since that is when the home team will be fielding), so we can measure how much data we can actualyl recover after our process.

In [308]:
print(f"Top of the innings of the game_info dataframe: {len(game_info[game_info['top_bottom'] == 'top'])}")
print(f"Total length of the game_info_fielders dataframe (i.e. the number of rows where a fielder is in the game): {len(game_info_fielders[game_info_fielders['top_bottom'] == 'top'])}")

Top of the innings of the game_info dataframe: 46188
Total length of the game_info_fielders dataframe (i.e. the number of rows where a fielder is in the game): 45703

So we recovered about 45703/46188 (98.9%) of the game_info CSV. But 1 problem, the true length of game_info_fielders is actually 45987, so why do we have an extra 284 rows? Lets see below.

In [309]:
len(game_info_fielders[game_info_fielders['top_bottom'] == 'bottom'])

36

So for some reason, there are 36 instances where the bottom of the inning has fielders from the home team on it. Why? I looked in the CSVs and am pretty sure that is just data errors, because they usually only exist for a single row, so someone just messed up inputting data. We still have 248 extra rows though.

In [310]:
len(game_info_fielders[game_info_fielders['top_bottom'] == 0])

248

That explains it, let us see what is going on in those rows

In [311]:
game_info_fielders[(game_info_fielders['top_bottom'] == 0)]

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
602,1883_002_Vis4AB_Home4A,Home4A,Vis4AB,0.0,11,0,0,463,431,991,586,535,636,782,624,383,4671,2752,0,0
604,1883_002_Vis4AB_Home4A,Home4A,Vis4AB,0.0,13,0,0,463,431,991,586,535,636,782,624,383,4671,2752,0,0
1524,1883_004_Vis1AC_Home1A,Home1A,Vis1AC,0.0,11,0,0,606,936,807,513,442,993,594,495,492,7469,3107,0,0
2042,1883_004_Vis4AC_Home4A,Home4A,Vis4AC,0.0,222,0,0,792,431,467,586,383,636,782,336,624,3968,7614,0,0
2054,1883_005_Vis1AC_Home1A,Home1A,Vis1AC,0.0,8,0,0,858,647,807,442,856,513,492,594,537,3309,2811,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28350,1884_004_Vis4AK_Home4A,Home4A,Vis4AK,0.0,241,0,0,964,431,467,776,901,636,638,624,460,9036,0,0,0
28355,1884_004_Vis4AK_Home4A,Home4A,Vis4AK,0.0,246,0,0,964,431,467,776,901,636,638,624,460,4976,0,0,0
28538,1884_005_Vis4AL_Home4A,Home4A,Vis4AL,0.0,167,0,0,792,520,467,586,901,636,835,776,460,2384,7058,0,0
28539,1884_005_Vis4AL_Home4A,Home4A,Vis4AL,0.0,168,0,0,792,520,467,586,901,636,835,776,460,2384,7058,0,0
85105,1884_121_Vis2AU_Home2A,Home2A,Vis2AU,71.0,262,0,0,943,737,471,513,798,973,615,495,492,663897,661439,0,0

As you can see the rows are just because the inning is not defined as top, but since these rows all have defined player ids, we can assume that they are all the top of the inning since we know the home team fields then, we can just change the label to "top". We see other things such as inning, and at_bat will still be undefined but we will live with that.

In [312]:
game_info_fielders.loc[game_info_fielders['top_bottom'] == 0, 'top_bottom'] = 'top'

In [313]:
game_info_fielders[game_info_fielders['top_bottom'] == 0]

Empty DataFrame
Columns: [game_str, home_team, away_team, at_bat, play_per_game, inning, top_bottom, pitcher, catcher, first_base, second_base, third_base, shortstop, left_field, center_field, right_field, batter, first_baserunner, second_baserunner, third_baserunner]
Index: []

## Game Events modifications

Once again create the game_events dataframe for both seasons. A mistake was pointed out for a specific game in the Slack channel by Dr. Wills, and so the timestamps were all adjusted by 500 ms for that game string. Afterwards we flip the cases where the game event codes 2 and 5 happen at the same time. We want to use 5 as a marker for the end of a play, so we identify if a 2 event and 5 event happen at the same timestamp, the 5 event should always come after. So every play sequence consists of game event codes {1, ..., 5}.

In [314]:
# Concatenate the game_events dataframes
game_events = pd.concat([game_events_season1883, game_events_season1884], ignore_index=True) 
game_events.loc[game_events['game_str'] == '1884_143_Vis4BE_Home4A', 'timestamp'] -= 500 # Mistake pointed out in the Slack, timestamps for this game are systematically off by 500 ms
for i in range(len(game_events) - 1): # Any situation where two consecutive rows are 1, ....., 5, 2 should be swapped to 1, ...., 2, 5
    if game_events.iloc[i]['event_code'] == 5 and game_events.iloc[i + 1]['event_code'] == 2:
        temp = game_events.iloc[i].copy() #make a copy of the row to switch out
        game_events.iloc[i] = game_events.iloc[i + 1]
        game_events.iloc[i + 1] = temp

game_events[game_events['game_str'] == '1884_086_Vis3AP_Home3A'].iloc[73:80] #sanity check on some rows where in the CSV, 2 and 5 are switched

,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
261404,1884_086_Vis3AP_Home3A,17,4.0,17,451188,0,5
261405,1884_086_Vis3AP_Home3A,18,5.0,18,484688,1,1
261406,1884_086_Vis3AP_Home3A,18,5.0,18,485188,2,2
261407,1884_086_Vis3AP_Home3A,18,5.0,18,485188,0,5
261408,1884_086_Vis3AP_Home3A,19,5.0,19,519038,1,1
261409,1884_086_Vis3AP_Home3A,19,5.0,19,519538,2,2
261410,1884_086_Vis3AP_Home3A,19,5.0,19,519538,0,5

Here we want to use the shortened list of games of interest from our game_info cleaning on the game_events table, so we don't look at games that don't actually have any of the fielder IDs in them. We create a dictionary where the key is the game strings from the shortened game info list, and the values are the play IDs (comparable to the play_per_game values). So for each game of interst, we have a list of the play ids of that game. In the end we have 334 games in total which seems reasonable to the total number of games in the dataset.

In [315]:
game_dict = {}
for index, row in game_info_fielders.iterrows():
    if row['game_str'] not in game_dict:
        game_dict[row['game_str']] = [] #initialize if not in the dictionary
    game_dict[row['game_str']].append(row['play_per_game']) #if already in the dictionmary just append it to the value list

#end up with a dictionary of the key game_Str and the plays where we have a fielder in the game 
print(f"Length of unique games in game_dict (games with a fielder): {len(game_dict)}")

Length of unique games in game_dict (games with a fielder): 334

In [316]:
for game_string in game_events['game_str'].unique():
    if game_string not in game_dict.keys():
        print(game_string)
print(f"These games are not in the dictionary game_dict, which after visual inspection of the 4 CSV files, makes sense because they do not have positional data in the game_info CSVs (filled as NA).")

1883_002_Vis1AB_Home1A
1883_012_Vis1AD_Home1A
1883_012_Vis4AE_Home4A
1884_013_Vis2AG_Home2A
These games are not in the dictionary game_dict, which after visual inspection of the 4 CSV files, makes sense because they do not have positional data in the game_info CSVs (filled as NA).

The game_events_fielders dataframe will reflect the shortened list of games, as well as the sequence of play_per_game's in the shortened game info fielders dataframe. We iterate through the dictionary of games, adn extract the rows that match the game strings we identified in game_dict. We then iterate through the list of plays for that game, and concatenate the rows with the same game string and play ids as the game dictionary.

In [332]:
game_info_fielders[game_info_fielders['game_str'] == '1883_026_Vis2AB_Home2A']

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
13727,1883_026_Vis2AB_Home2A,Home2A,Vis2AB,0.0,6,0,top,558,647,334,442,798,993,975,651,827,2810,9464,0,0
13728,1883_026_Vis2AB_Home2A,Home2A,Vis2AB,0.0,7,0,top,558,647,334,442,798,993,975,651,827,2810,9464,0,0
13763,1883_026_Vis2AB_Home2A,Home2A,Vis2AB,0.0,42,0,top,558,647,334,442,798,993,975,651,827,5837,6400,0,0

In [331]:
game_dict['1883_026_Vis2AB_Home2A']

[6, 7, 42]

In [317]:
game_events_fielders = pd.DataFrame() #game_evnets_Fielders basically takes the list of game strings from game_info that we identified had a fielder, and uses that filter on game_events_fielders.
for game_str, plays in game_dict.items():
    game_rows = game_events[game_events['game_str'] == game_str] #rows where the game_str is in the dictionary from game_events

    for play in plays: 
        play_rows = game_rows[game_rows['play_per_game'] == play] #for a given game_str, get the rows where the play_per_game is in the dictionary (i.e a fielder is in the game)
        game_events_fielders = pd.concat([game_events_fielders, play_rows], ignore_index=True)
print(f"number of unique games: {game_events_fielders['game_str'].nunique()}")# we end up with a data frame of the game events where a fielder is playing

number of unique games: 334

Now we want to further filter within the games themselves, to only include plays where an outfielder will actually get a chance to act on the ball. So we look for sequences that do not follow the pattern {1,2,5} because those just say the ball was pitched, acquired, and play ended (without a hit, we know it was most likely acquired by a catcher, and if it is a balk play, we don't care anyways). In particular we look for the event code 4, which indicates the ball is hit into play, and a player_position of 7,8,9 corresponding to the event code 2. So our sequence of interest will look like {1, 4, ..., 2, ..., 5}.

In [319]:
# Okay so we have all the plays where a fielder is in the game
# Now to filter for plays that the fielder has an oppportunity to make a play, we will look at plays that have a game_event code of 4 (ball hit into play) all the way until 5 (end of play). So basically extracting plays from 1 - 5 if there is a 4 somewhere in there

game_events_fielders2 = pd.DataFrame()
seq_start = None
hit_ball = False
fielder_ball = False
fielders_ids = [7,8,9,255]
for i in range(len(game_events_fielders)):
    if game_events_fielders.iloc[i]['event_code'] == 1: #if a play has started (1)
        #say that a sequence has started
        seq_start = i 
    elif seq_start is not None and game_events_fielders.iloc[i]['event_code'] == 4:
        hit_ball = True #a ball has been hit if we find a 4
    elif seq_start is not None and game_events_fielders.iloc[i]['event_code'] == 2:
        if game_events_fielders.iloc[i]['player_position'] in fielders_ids:
            fielder_ball = True
    elif seq_start is not None and hit_ball and fielder_ball and game_events_fielders.iloc[i]['event_code'] == 5:
        seq_end = i #maybe because same variable? jason
        #if a sequence has started, we have identified the ball was hit, and the sequence has ended, we want to identify the end of the play and add the rows between the 1 and 5 to thew new df
        game_events_fielders2 = pd.concat([game_events_fielders2, game_events_fielders.iloc[seq_start:seq_end + 1]], ignore_index=True)
        #reset the flags
        seq_start = None
        hit_ball = False
        fielder_ball = False

We see that the length of game_events_fielders2 is basically half the original, but we still have further specification of plays of interest for our training set. 

*Assumption: the only plays we are interested in are the ones that end up being acquired by an outfielder. So our dataset will be every play sequence that ends up with the ball being acquired by an outfielder. This encapsulates fly balls, balls hit to the outfield, but also includes some cases like balls that roll to outfield.* 

If we do well enough with the data formatting, we can specify this even further by excluding cases where the ball rolls into outfield by analyzing its first bounce position. But this is only doable after getting the ball position for the event timestamps.

In [368]:
print(f"num of events with fielders where the ball is hit vs just 1-2-5 sequences: {len(game_events_fielders2),  len(game_events_fielders)} " )
game_events_fielders2['game_str_play_id'] = game_events_fielders2['game_str'].astype(str) + '_' + game_events_fielders2['play_id'].astype(str) # DO NOT USE game_events_fielders2['play_per_game'] because this is skipepd over during pick off throws (i.e the play_per_game skips 1 during pick offs)
game_events_fielders2 = game_events_fielders2[['game_str_play_id'] + [col for col in game_events_fielders2.columns if col != 'game_str_play_id']] #move to front, rest of the columns in the same order

game_events_fielders2  #okay so now we have all the plays (and their unique play id for each game) where a hit actually happens, and therefore a fielder will be attentive b

num of events with fielders where the ball is hit vs just 1-2-5 sequences: (28765, 172493)

,game_str_play_id,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
0,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,1.0,2,67373,1,1
1,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,1.0,2,67773,10,4
2,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,1.0,2,73273,8,2
3,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,1.0,2,73473,0,5
4,1883_001_Vis1AB_Home1A_4,1883_001_Vis1AB_Home1A,4,2.0,4,114323,1,1
...,...,...,...,...,...,...,...,...
28760,1884_143_Vis4BE_Home4A_268,1884_143_Vis4BE_Home4A,268,67.0,267,9349950,0,5
28761,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,73.0,287,10029300,1,1
28762,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,73.0,287,10029700,10,4
28763,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,73.0,287,10034300,7,2
28764,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,73.0,287,10034500,0,5

Make a second game_dict because I realized game_dict should really only be the game plays that we care about. So game_dict2 is a dictionary of game strings: [play sequences with a fielder acquiring the ball], the length is 2 games shorter, lets find those missing games.

In [369]:
game_dict2 = {}
for index, row in game_events_fielders2.iterrows():
    if row['game_str'] not in game_dict2:
        game_dict2[row['game_str']] = [] #initialize if not in the dictionary
    if row['play_id'] in game_dict2[row['game_str']]:
        continue 

    else:
        game_dict2[row['game_str']].append(row['play_id']) #if already in the dictionmary just append it to the value list

#end up with a dictionary of the key game_Str and the plays where we have a fielder in the game 
print(f"number of games in game_dict2: {len(game_dict2)} vs number in game_dict: {len(game_dict)}")
for game, plays in game_dict2.items():
    print(game, plays)

number of games in game_dict2: 332 vs number in game_dict: 334
1883_001_Vis1AB_Home1A [2, 4, 66, 101, 127, 141, 168, 170, 173, 196, 241, 264]
1883_001_Vis4AB_Home4A [47, 74, 94, 99, 137, 201, 224, 229]
1883_002_Vis4AB_Home4A [7, 10, 43, 84, 85, 171, 219, 312, 314, 319]
1883_003_Vis1AB_Home1A [15, 22, 33, 42, 88, 103, 125, 127, 159, 185, 190, 241]
1883_003_Vis4AB_Home4A [155, 221, 224, 244, 248, 253, 261, 268, 308]
1883_004_Vis1AC_Home1A [42, 43, 130, 139, 257, 266, 300]
1883_004_Vis4AC_Home4A [7, 30, 32, 37, 56, 61, 87, 129, 196, 226]
1883_005_Vis1AC_Home1A [47, 62, 92, 108, 194, 238, 268, 272, 312, 318]
1883_005_Vis4AC_Home4A [46, 103, 108, 137, 142, 144, 145, 178, 184, 215, 221, 300]
1883_006_Vis1AC_Home1A [43, 72, 94, 97, 127, 138, 171, 237]
1883_006_Vis4AC_Home4A [2, 27, 41, 48, 88, 91, 96, 101, 133, 138, 144, 145, 160, 185, 194, 224, 251, 256, 270]
1883_007_Vis1AC_Home1A [77, 127, 129, 134, 161, 168, 196, 198, 206, 228, 258]
1883_008_Vis4AD_Home4A [3, 8, 9, 12, 40, 64, 174, 190, 196, 234]
1883_009_Vis4AD_Home4A [2, 35, 38, 76, 85, 112, 123, 228, 249, 270, 297, 304]
1883_010_Vis1AD_Home1A [41, 85, 138, 149, 207]
1883_010_Vis3AB_Home3A [12, 34, 35, 44, 50, 87, 145, 148, 253]
1883_010_Vis4AD_Home4A [11, 35, 68, 113, 147, 179, 182, 186, 190, 193, 261]
1883_011_Vis1AD_Home1A [10, 48, 118, 119, 227]
1883_011_Vis3AB_Home3A [22, 62, 97, 123, 124, 142, 144, 227, 239, 291]
1883_011_Vis4AE_Home4A [5, 6, 72, 121, 162, 168, 172, 185, 203, 237, 244, 248, 250, 262, 300]
1883_012_Vis3AB_Home3A [2, 5, 20, 57, 66, 115, 142, 148, 162, 173, 181, 271, 283, 380]
1883_013_Vis1AE_Home1A [4, 46, 58, 60, 72, 91, 182, 185, 190, 256, 289, 310, 367, 386]
1883_013_Vis3AB_Home3A [1, 4, 39, 40, 66, 115, 120, 123, 153, 190, 196, 206]
1883_013_Vis4AE_Home4A [12, 33, 51, 68, 70, 75, 78, 108, 129, 135, 152, 159, 165, 174, 175, 177, 204, 224, 227, 267, 270, 314]
1883_014_Vis1AE_Home1A [58, 66, 73, 79, 80, 107, 139, 151, 193, 198, 277, 294]
1883_014_Vis4AE_Home4A [51, 63, 118, 195, 225]
1883_015_Vis1AE_Home1A [12, 30, 60, 96, 103, 130, 156, 225, 227, 228, 230, 268, 280, 292]
1883_016_Vis3AC_Home3A [12, 14, 23, 24, 70, 85, 92, 138, 140, 148, 175, 189, 195, 199, 290, 298, 302]
1883_017_Vis3AC_Home3A [7, 36, 40, 52, 54, 85, 116, 119, 122, 184, 188, 204, 207, 211, 240, 254, 256, 269, 273]
1883_017_Vis4AF_Home4A [7, 37, 46, 88, 107, 109]
1883_018_Vis1AF_Home1A [6, 9, 46, 92, 129, 132, 136, 140, 143, 230, 234, 272]
1883_018_Vis3AC_Home3A [94, 96, 107, 156, 177, 183, 228, 308]
1883_019_Vis1AF_Home1A [32, 35, 40, 66, 70, 139, 227, 261]
1883_019_Vis4AF_Home4A [4, 96, 114, 120, 123, 153, 227, 306, 308, 317]
1883_020_Vis1AF_Home1A [171]
1883_021_Vis1AG_Home1A [6, 12, 70, 150, 232, 271]
1883_023_Vis1AG_Home1A [6, 108, 147, 202, 246, 251, 253, 272]
1883_024_Vis1AG_Home1A [30, 67, 70, 71, 72, 140, 268, 275, 276]
1883_024_Vis2AB_Home2A [48, 109, 162, 163, 189, 197, 250]
1883_024_Vis4AG_Home4A [49, 52, 61, 82, 94, 137, 163, 168, 182, 197, 201, 202, 225, 244, 253, 263]
1883_025_Vis1AG_Home1A [29, 33, 60, 89, 162, 175, 192, 209, 215, 218, 245, 246, 251, 280, 288, 292]
1883_025_Vis2AB_Home2A [6, 9, 88, 117, 120, 123, 126, 128, 134, 136, 168, 197, 200, 252]
1883_025_Vis4AG_Home4A [44, 48, 92, 127, 153, 156, 189, 194, 198, 201, 275]
1883_026_Vis4AG_Home4A [2, 33, 35, 37, 41, 42, 45, 65, 129, 163, 167, 169, 208, 264, 295, 298, 331, 339]
1883_027_Vis4AH_Home4A [48, 100, 134, 225, 230, 234, 300]
1883_028.5_Vis3AD_Home3A [8, 36, 78, 94, 98, 104, 107, 128, 149, 162, 182, 192, 193]
1883_028_Vis3AD_Home3A [2, 109, 113, 189, 250, 254, 286, 290]
1883_028_Vis4AH_Home4A [8, 49, 69, 86, 88, 122, 127, 128, 196, 203, 225, 233, 271, 297]
1883_029_Vis3AD_Home3A [37, 65, 75, 78, 80, 103, 104, 135, 262, 306]
1883_029_Vis4AH_Home4A [4, 78, 113, 158, 166, 256]
1883_030_Vis3AD_Home3A [35, 39, 55, 61, 92, 97, 150, 151, 176, 182, 184, 246]
1883_030_Vis4AH_Home4A [4, 15, 32, 73, 79, 86, 87, 106, 134, 164, 169, 176, 179, 203, 209, 211]
1883_031_Vis1AH_Home1A [5, 11, 149, 199]
1883_032_Vis1AH_Home1A [100, 157, 160, 168, 174, 210, 277, 282, 283, 284]
1883_033_Vis1AH_Home1A [34, 143, 155, 181, 191, 250]
1883_034_Vis1AH_Home1A [4, 55, 61, 125, 144]
1883_035_Vis1AI_Home1A [3, 24, 31, 50, 70, 182]
1883_035_Vis2AC_Home2A [5, 53, 55, 85, 91, 112, 126, 127, 129, 144, 146, 149, 160, 191, 204, 217, 240, 245, 246]
1883_036_Vis1AI_Home1A [3, 9, 98, 128, 244]
1883_036_Vis2AC_Home2A [12, 35, 45, 53, 74, 78, 83, 126, 128, 235, 239, 259, 261, 265, 269]
1883_037_Vis1AI_Home1A [39, 67, 69, 73, 169, 172, 204, 208, 216, 218, 234, 272, 313]
1883_037_Vis2AC_Home2A [3, 46, 50, 82, 95, 97, 185, 186, 219, 225, 262, 267, 300, 336]
1883_038_Vis1AI_Home1A [2, 42, 94, 96, 97, 120, 127, 184, 201, 203, 212, 213, 227, 245, 251, 257]
1883_038_Vis3AE_Home3A [50, 78, 82, 112, 125, 196, 225, 226]
1883_038_Vis4AI_Home4A [43, 96, 102, 103, 193, 198, 202, 281, 289, 301]
1883_039_Vis2AD_Home2A [6, 52, 76, 83, 105, 149, 156, 197, 260, 262]
1883_039_Vis3AE_Home3A [3, 9, 42, 62, 68, 108, 147, 150, 181, 235, 285, 318]
1883_039_Vis4AI_Home4A [12, 13, 19, 47, 50, 51, 57, 93, 139, 173, 234, 248, 298]
1883_040_Vis3AE_Home3A [2, 23, 59, 64, 113, 119, 138, 180, 197, 260, 294, 297]
1883_040_Vis4AI_Home4A [10, 74, 82, 90, 126, 131, 160, 205, 258, 268, 288, 297, 301]
1883_041.5_Vis2AD_Home2A [14, 48, 54, 63, 69, 90, 96, 177, 190, 201]
1883_041_Vis2AD_Home2A [1, 5, 6, 29, 37, 40, 67, 80, 119, 135, 156, 161, 194]
1883_041_Vis3AE_Home3A [7, 9, 23, 37, 50, 52, 69, 94, 102, 138, 157, 164, 200, 217, 222, 260, 266, 297, 299, 324]
1883_041_Vis4AI_Home4A [11, 136, 160, 186, 193, 204, 230, 296]
1883_042_Vis4AJ_Home4A [8, 9, 68, 75, 101, 139, 186, 245, 289, 295, 317, 323, 332, 339, 347]
1883_043_Vis3AF_Home3A [1, 4, 9, 36, 44, 47, 49, 66, 76, 84, 97, 126, 164, 200, 234, 265, 346]
1883_043_Vis4AJ_Home4A [3, 52, 138, 142, 157, 218, 251, 252, 253]
1883_044_Vis3AF_Home3A [2, 33, 70, 89, 99, 101, 104, 130, 162, 188, 189, 220]
1883_044_Vis4AJ_Home4A [3, 103, 117, 119, 144, 227, 255, 261, 264, 270, 271]
1883_045_Vis3AF_Home3A [2, 11, 16, 24, 71, 101, 109, 127, 139, 165, 171, 175, 291, 299]
1883_046_Vis2AE_Home2A [2, 10, 12, 15, 49, 62, 82, 122, 210, 214, 236]
1883_047.5_Vis2AE_Home2A [5, 9, 34, 35, 45, 72, 107, 116, 132, 182, 192]
1883_047_Vis2AE_Home2A [15, 70, 77, 113, 114, 145, 168, 171, 172, 176, 218, 219]
1883_048_Vis1AJ_Home1A [40, 50, 63, 72, 144, 155, 156, 159, 192]
1883_049_Vis1AJ_Home1A [36, 38, 62, 64, 66, 142, 144, 216]
1883_050_Vis1AJ_Home1A [2, 4, 5, 30, 33, 65, 108, 152, 155, 180, 222]
1884_001_Vis3AG_Home3A [3, 102, 108, 115, 149, 150, 166, 177, 238, 275]
1884_001_Vis4AK_Home4A [7, 13, 18, 22, 47, 54, 125, 158, 170, 237, 239, 285, 292]
1884_002_Vis3AG_Home3A [12, 32, 38, 167, 194, 195, 249]
1884_002_Vis4AK_Home4A [7, 32, 35, 56, 85, 184, 185, 214, 223, 231]
1884_003_Vis3AG_Home3A [5, 11, 14, 53, 78, 92, 93, 154, 192, 232]
1884_004_Vis3AG_Home3A [13, 40, 52, 83, 109, 112, 115, 175, 193, 203, 205, 232, 239, 272, 288]
1884_004_Vis4AK_Home4A [8, 24, 33, 60, 78, 84, 96, 137, 191]
1884_005_Vis4AL_Home4A [47, 83, 87, 112, 116, 164, 196, 209, 242, 248]
1884_006_Vis4AL_Home4A [40, 41, 98, 108, 132, 139, 161, 168, 176, 208, 284]
1884_007_Vis4AL_Home4A [45, 47, 80, 132, 133, 176, 237]
1884_008_Vis1AK_Home1A [37, 42, 64, 72, 90, 105, 139, 151, 160, 179, 181, 195]
1884_009.5_Vis1AK_Home1A [77, 82, 93, 178]
1884_009_Vis1AK_Home1A [37, 51, 120, 128, 159]
1884_010_Vis2AF_Home2A [14, 18, 58, 74, 134, 141, 153, 163, 167, 194, 247]
1884_010_Vis3AH_Home3A [7, 14, 32, 63, 92, 95, 97, 98, 102, 104, 123, 130, 163, 272, 296]
1884_011_Vis2AF_Home2A [4, 7, 14, 28, 29, 69, 153, 154, 191, 255, 259, 326, 349]
1884_011_Vis3AH_Home3A [25, 42, 71, 78, 86, 107, 110, 139, 143, 145, 217, 220, 227]
1884_012_Vis2AF_Home2A [80, 84, 85, 87, 127, 142, 180, 181, 190, 227, 252, 253, 256, 283, 288]
1884_012_Vis3AH_Home3A [3, 11, 27, 72, 75, 81, 92, 121, 124, 144, 172, 240, 246, 249]
1884_013_Vis4AM_Home4A [64, 66, 88, 95, 101, 111, 113, 144, 166, 182]
1884_014_Vis2AG_Home2A [1, 2, 7, 15, 75, 81, 96, 118, 173, 177, 180, 215, 217]
1884_014_Vis4AM_Home4A [43, 55, 85, 92, 93, 122, 124, 127, 129, 134, 164, 237, 247]
1884_015_Vis2AG_Home2A [2, 42, 54, 83, 87, 111, 114, 152, 154, 204, 222, 224, 265, 275, 297, 333, 337, 355]
1884_015_Vis4AM_Home4A [4, 46, 48, 84, 95, 139, 222, 277, 280]
1884_016_Vis4AN_Home4A [32, 79, 110, 130, 141, 199, 204, 262]
1884_017.5_Vis1AL_Home1A [6, 9, 49, 92, 108, 109, 112, 132, 167, 188, 212]
1884_017_Vis1AL_Home1A [1, 3, 27, 44, 77, 93, 137, 141, 157]
1884_017_Vis4AN_Home4A [31, 100, 105, 108, 183, 204, 245, 246, 289, 290, 298]
1884_018_Vis1AL_Home1A [7, 51, 78, 92, 93, 94, 147, 182, 211, 224, 228, 240, 279, 332, 339, 344, 347]
1884_018_Vis4AN_Home4A [41, 54, 56, 75, 80, 92, 116, 117, 182, 186, 219, 240, 244, 250]
1884_019_Vis3AI_Home3A [9, 15, 20, 36, 109, 132, 141, 167, 200, 237, 320]
1884_020_Vis1AM_Home1A [1, 36, 86, 91, 115, 124, 194, 241, 246, 251]
1884_021_Vis1AM_Home1A [56, 61, 65, 156, 191, 200]
1884_021_Vis3AI_Home3A [36, 62, 108, 112, 135, 136, 143, 158, 192, 197, 231, 262]
1884_022_Vis1AM_Home1A [2, 4, 9, 10, 28, 117, 139, 141, 276]
1884_022_Vis3AI_Home3A [45, 89, 91, 110, 138, 147, 182, 187, 193, 258, 269, 272, 333]
1884_023_Vis3AI_Home3A [2, 3, 5, 8, 9, 28, 31, 51, 69, 74, 78, 119, 148, 184, 226, 235, 255]
1884_024_Vis2AH_Home2A [5, 11, 16, 70, 73, 76, 91, 98, 99, 122, 125, 153, 156, 193, 197, 237, 261]
1884_025_Vis2AH_Home2A [11, 61, 77, 88, 208, 217, 237, 265, 269, 273, 302, 303]
1884_026_Vis2AH_Home2A [13, 32, 55, 87, 111, 113, 115, 151, 221, 244, 249]
1884_026_Vis4AO_Home4A [27, 32, 64, 86, 88, 90, 127, 130, 137, 140, 156, 157, 173, 185, 215]
1884_027_Vis2AI_Home2A [3, 11, 70, 71, 89, 167, 169, 175, 192, 235]
1884_027_Vis4AO_Home4A [12, 143, 148, 156]
1884_028_Vis2AI_Home2A [1, 35, 81, 110, 121, 138, 146, 151, 190, 203, 208, 237, 251, 298, 302, 307]
1884_028_Vis4AO_Home4A [28, 31, 33, 84, 87, 149, 156, 249, 300]
1884_029_Vis2AI_Home2A [12, 32, 151, 174, 177, 180, 230, 241, 255, 276]
1884_029_Vis4AO_Home4A [13, 16, 27, 35, 61, 128, 133, 135, 143, 196, 203, 207, 251]
1884_030_Vis1AN_Home1A [2, 10, 60, 67, 69, 70, 129, 171, 261, 269, 271, 295, 298, 302]
1884_030_Vis3AJ_Home3A [15, 31, 34, 93, 197, 206, 256, 266, 290, 292]
1884_030_Vis4AP_Home4A [15, 25, 48, 81, 83, 88, 141]
1884_031_Vis1AN_Home1A [10, 38, 44, 55, 76, 79, 86, 87, 113, 138, 186, 216, 237]
1884_031_Vis3AJ_Home3A [82, 87, 91, 94, 123, 162, 178, 204, 206, 214, 220, 242, 244, 249, 253, 282, 287, 325]
1884_031_Vis4AP_Home4A [1, 4, 7, 16, 21, 48, 49, 74, 80, 99, 100, 150, 168, 210, 213, 215, 221]
1884_032_Vis1AN_Home1A [7, 19, 21, 26, 41, 48, 85, 88, 121, 127, 157, 159, 242, 256, 263, 267]
1884_032_Vis3AJ_Home3A [4, 19, 20, 40, 56, 84, 89, 91, 93, 169, 192]
1884_033_Vis1AO_Home1A [40, 85, 183, 218, 221, 240]
1884_033_Vis3AJ_Home3A [34, 57, 58, 68, 71, 99, 153, 158, 163, 217, 275, 278, 280, 286]
1884_033_Vis4AP_Home4A [14, 78, 83, 104, 106, 112, 149, 151, 250, 259]
1884_034_Vis1AO_Home1A [2, 5, 8, 51, 78, 84, 87, 88, 111, 112, 144, 145, 159, 204, 210, 218, 234, 279, 284, 287]
1884_035_Vis1AO_Home1A [5, 57, 88, 89, 90, 129, 136, 167, 208]
1884_036_Vis3AK_Home3A [1, 26, 29, 32, 76, 78, 104, 123, 126, 219, 222, 234]
1884_037_Vis2AJ_Home2A [5, 7, 31, 133, 198, 225, 227, 231, 239, 256, 263, 282, 285]
1884_037_Vis3AK_Home3A [14, 50, 54, 86, 92, 123, 125, 128, 167, 198, 203, 234, 239, 318, 326]
1884_038_Vis2AJ_Home2A [10, 16, 39, 90, 121, 176, 183, 195, 213, 254, 275, 276, 302, 304, 305, 307, 313, 318]
1884_038_Vis3AK_Home3A [57, 59, 64, 68, 104, 118, 126, 177, 186, 190, 203, 231, 254]
1884_038_Vis4AQ_Home4A [73, 93, 137, 210]
1884_039_Vis2AJ_Home2A [5, 58, 64, 66, 70, 83, 85, 121, 164]
1884_039_Vis4AQ_Home4A [8, 41, 72, 80, 174, 178, 205, 223, 228, 234, 250, 272]
1884_040_Vis4AQ_Home4A [51, 93, 164, 165, 171, 217]
1884_041_Vis2AK_Home2A [8, 11, 48, 60, 120, 127, 128, 139, 160, 167, 200, 221, 223, 239, 243]
1884_041_Vis4AR_Home4A [4, 46, 77, 80, 82, 85, 89, 95, 136, 170, 231, 234]
1884_042_Vis4AR_Home4A [6, 16, 41, 103, 109, 113, 125, 206, 294, 348, 350]
1884_043.5_Vis2AK_Home2A [2, 9]
1884_043_Vis2AK_Home2A [7, 14, 16, 45, 48, 54, 85, 125, 163, 173, 174, 181, 200]
1884_043_Vis4AR_Home4A [40, 71, 90, 101, 126, 136, 141, 155, 186, 189, 192, 200, 239, 243, 248, 255, 294]
1884_044.5_Vis1AP_Home1A [1, 6, 38, 62, 109, 113, 151, 191]
1884_044_Vis1AP_Home1A [5, 6, 52, 62, 83, 85, 131, 136, 159, 164, 166, 175, 195, 216]
1884_045_Vis1AP_Home1A [94, 110, 118, 154, 157, 187, 190, 193, 237, 240, 242, 257, 291, 304]
1884_046_Vis1AP_Home1A [6, 10, 64, 67, 123, 154, 217, 220]
1884_047_Vis1AQ_Home1A [4, 60, 85, 133, 137, 151, 206, 267, 297]
1884_048_Vis1AQ_Home1A [2, 25, 29, 36, 71, 77, 78, 157, 158, 216]
1884_049_Vis1AQ_Home1A [3, 11, 27, 31, 62, 104, 137, 167, 176, 231]
1884_050_Vis1AQ_Home1A [27, 34, 82, 116, 118, 149, 151, 153, 155, 220, 250, 252, 255]
1884_051_Vis3AL_Home3A [27, 28, 33, 56, 61, 66, 93, 95, 97, 139, 146, 206, 238, 284]
1884_051_Vis4AS_Home4A [7, 13, 76, 100, 104, 108, 124, 162, 192, 217, 218, 241, 253, 260, 274]
1884_052_Vis3AL_Home3A [6, 146, 194, 196, 225, 231, 245, 267, 271]
1884_052_Vis4AS_Home4A [94, 97, 105, 114, 192, 214, 238, 245]
1884_053_Vis3AL_Home3A [7, 8, 10, 18, 40, 41, 44, 74, 89, 97, 130, 167, 185, 219, 220, 265, 302, 335]
1884_053_Vis4AS_Home4A [7, 47, 49, 77, 78, 94, 101, 104, 114, 115, 164, 179, 227, 274]
1884_054_Vis1AR_Home1A [1, 39, 41, 44, 66, 104, 113, 167, 197, 200, 220, 237, 242, 251]
1884_054_Vis3AL_Home3A [1, 8, 28, 54, 92, 99, 104, 226, 236, 261, 265]
1884_054_Vis4AT_Home4A [32, 47, 148, 183, 201]
1884_055_Vis1AR_Home1A [15, 20, 59, 108, 109, 111, 129, 206, 259]
1884_055_Vis4AT_Home4A [48, 51, 53, 87, 98, 130, 135, 149, 192, 244, 273, 287]
1884_056_Vis1AR_Home1A [42, 123, 212, 233, 258]
1884_056_Vis4AT_Home4A [7, 15, 77, 80, 93, 95, 102, 128, 133, 135, 186, 210, 253, 291]
1884_057_Vis2AL_Home2A [3, 6, 9, 46, 49, 66, 84, 105, 137, 224, 227, 228, 257]
1884_058_Vis2AL_Home2A [36, 47, 68, 87, 97, 113, 129, 171, 185, 188, 231, 246, 252, 258, 261, 263]
1884_059_Vis1AS_Home1A [2, 29, 57, 65, 79, 115, 130, 134, 139, 140, 171, 198, 203, 236]
1884_059_Vis2AL_Home2A [5, 44, 98, 104, 109, 111, 119, 130, 136, 155, 172, 177, 197, 223]
1884_060_Vis1AS_Home1A [7, 11, 38, 45, 71, 81, 92, 116, 140, 141, 161, 162, 189, 200]
1884_060_Vis2AL_Home2A [16, 32, 35, 36, 38, 46, 61, 66, 74, 103, 132, 168, 170, 172, 217, 266, 268, 275]
1884_061_Vis2AM_Home2A [11, 23, 56, 101, 210]
1884_061_Vis3AM_Home3A [3, 30, 33, 34, 37, 39, 59, 70, 82, 121, 126, 129, 181, 203, 219, 221, 238, 268, 276]
1884_062_Vis2AM_Home2A [50, 67, 70, 88, 93, 97, 100, 197, 202, 219, 266]
1884_062_Vis3AM_Home3A [7, 12, 14, 24, 59, 78, 86, 89, 91, 94, 97, 152, 164, 177, 207, 215, 251, 263, 269]
1884_063_Vis2AM_Home2A [11, 45, 111, 114, 118, 173, 270]
1884_063_Vis3AM_Home3A [1, 7, 70, 71, 91, 143, 212]
1884_064_Vis3AM_Home3A [11, 45, 78, 94, 107, 143, 165, 168, 193, 219, 225, 227, 260, 262]
1884_065_Vis1AT_Home1A [3, 79, 117, 123, 127, 153, 177, 179, 183]
1884_066_Vis1AT_Home1A [7, 50, 71, 74, 88, 107, 124, 169, 173]
1884_067_Vis1AT_Home1A [28, 30, 45, 133, 165]
1884_067_Vis4AU_Home4A [2, 4, 22, 111, 135, 137, 203, 252, 255]
1884_068_Vis4AU_Home4A [4, 70, 82, 126, 143, 147, 176, 210, 254, 277, 282, 299]
1884_069_Vis4AU_Home4A [17, 62, 66, 70, 75, 81, 82, 132, 175, 187, 261, 307]
1884_070_Vis4AU_Home4A [4, 8, 44, 49, 56, 61, 96, 105, 140, 144, 203, 209, 254, 257]
1884_071_Vis2AN_Home2A [12, 60, 62, 92, 98, 117, 123, 136, 157, 191, 194, 214, 261, 265, 292]
1884_072.5_Vis2AN_Home2A [8, 34, 54, 64, 83, 93, 96, 113, 124, 159, 226, 228, 233, 235]
1884_072_Vis2AN_Home2A [6, 12, 23, 31, 44, 64, 67, 72, 110, 133, 141, 156, 164]
1884_073_Vis2AN_Home2A [36, 73, 96, 140, 171, 239, 244, 257, 287, 317, 344, 349]
1884_074_Vis1AU_Home1A [1, 46, 67, 70, 136, 154, 192, 200, 204, 270]
1884_074_Vis3AN_Home3A [2, 14, 50, 56, 94, 97, 108, 146, 157, 201, 204, 240]
1884_075_Vis1AU_Home1A [26, 72, 127, 129, 165, 182, 193, 223]
1884_075_Vis3AN_Home3A [5, 6, 11, 12, 16, 44, 48, 92, 100, 128, 133, 139, 170, 191, 213, 245, 299, 321]
1884_076_Vis1AU_Home1A [9, 13, 38, 91, 98, 99, 114, 119, 163, 185, 269, 290, 298]
1884_076_Vis3AN_Home3A [3, 46, 91, 95, 126, 205, 208, 211, 243, 254, 321, 338]
1884_077_Vis1AU_Home1A [2, 5, 43, 51, 62, 126, 132, 221, 296, 307]
1884_077_Vis3AO_Home3A [12, 35, 53, 101, 103, 125, 137, 163, 172]
1884_078_Vis3AO_Home3A [37, 47, 156, 158, 174, 221, 240, 247, 272, 312]
1884_078_Vis4AV_Home4A [3, 36, 72, 84, 114, 118, 164, 215, 219, 254]
1884_079_Vis3AO_Home3A [53, 68, 80, 117, 196, 207, 232, 236, 240, 281]
1884_079_Vis4AV_Home4A [3, 48, 53, 84, 116, 117, 141, 148, 156, 170, 199, 216, 237, 302]
1884_080.5_Vis4AV_Home4A [70, 136, 139, 155, 159, 183, 184, 207]
1884_080_Vis4AV_Home4A [6, 15, 66, 72, 97, 101, 109, 115, 120, 121, 179, 214, 216]
1884_081_Vis2AO_Home2A [1, 14, 20, 93, 95, 97, 122, 125, 139, 143, 238, 277]
1884_082_Vis2AO_Home2A [19, 82, 120, 147, 190, 220, 276, 279, 290]
1884_083_Vis2AO_Home2A [12, 48, 58, 95, 100, 124, 151, 154, 168, 202, 231, 233, 237, 260, 265, 268, 295, 297]
1884_084_Vis3AP_Home3A [2, 26, 28, 50, 99, 117, 143, 147, 212, 252]
1884_085_Vis3AP_Home3A [4, 9, 12, 14, 42, 45, 78, 83, 149, 151, 169, 173, 178, 230, 277, 279]
1884_086_Vis3AP_Home3A [11, 24, 56, 63, 101, 111, 178, 180, 192, 196, 253, 286, 293, 300, 378, 386]
1884_086_Vis4AW_Home4A [7, 43, 84, 87, 125, 141, 145, 174, 177, 194]
1884_087_Vis3AP_Home3A [33, 37, 39, 42, 55, 60, 75, 83, 106, 148, 173, 179, 182, 211]
1884_087_Vis4AW_Home4A [22, 64, 67, 87, 106, 126, 133, 150, 153, 173, 201, 203, 205]
1884_088_Vis4AW_Home4A [4, 125, 133, 151, 201, 204, 257, 258, 268, 301, 303]
1884_089_Vis2AP_Home2A [16, 74, 85, 103, 170, 173, 174, 200, 243, 260, 263, 268, 271]
1884_090_Vis2AP_Home2A [1, 10, 50, 54, 57, 79, 98, 102, 103, 104, 129, 135, 163, 194, 197, 205, 230, 231, 233]
1884_091_Vis1AV_Home1A [2, 39, 40, 74, 170, 184, 214, 245, 246, 251]
1884_092.5_Vis2AP_Home2A [12, 65, 72, 126, 136, 176, 180, 183, 206, 212]
1884_092_Vis1AV_Home1A [50, 52, 66, 70, 101, 107, 165, 217, 229, 252]
1884_092_Vis2AP_Home2A [10, 35, 38, 60, 123, 128, 151, 195]
1884_092_Vis4AX_Home4A [5, 7, 29, 57, 77, 158, 180, 185, 186, 192, 199, 229, 230, 237, 284, 298]
1884_093_Vis1AV_Home1A [16, 39, 43, 77, 94, 106, 107, 112, 144, 189, 199, 210, 253]
1884_093_Vis4AX_Home4A [5, 7, 57, 132, 159, 160, 167, 188, 197, 230, 233, 238, 260]
1884_094_Vis1AW_Home1A [5, 13, 17, 21, 25, 58, 66, 94, 100, 121, 172, 186, 253]
1884_094_Vis4AX_Home4A [1, 15, 63, 67, 127, 135, 138, 142, 166, 205, 207, 218, 285]
1884_095_Vis1AW_Home1A [37, 50, 58, 109, 110, 116, 120, 132, 136, 160, 240, 257]
1884_095_Vis4AX_Home4A [5, 6, 12, 30, 41, 67, 75, 79, 104, 137, 140, 144, 191, 233, 234, 295, 299]
1884_096_Vis1AW_Home1A [6, 12, 28, 80, 102, 116, 214, 233, 239, 284]
1884_096_Vis2AQ_Home2A [2, 61, 84, 108, 112, 141, 144, 166, 198, 199, 267, 273, 277, 294, 300]
1884_097_Vis2AQ_Home2A [2, 7, 15, 16, 32, 33, 48, 49, 79, 88, 95, 116, 155, 197, 290]
1884_098_Vis2AQ_Home2A [9, 14, 18, 20, 28, 31, 74, 82, 99, 134, 164, 170, 172, 204, 207, 221]
1884_098_Vis3AQ_Home3A [39, 83, 88, 96, 101, 135, 138, 148, 157, 200, 211, 248, 263, 268, 291, 299, 302, 326]
1884_099_Vis3AQ_Home3A [37, 44, 46, 70, 97, 106, 110, 129, 133, 160, 181, 183, 231, 248]
1884_100_Vis3AQ_Home3A [3, 8, 12, 51, 56, 96, 111, 134, 201, 206, 234, 241, 245, 251]
1884_101_Vis3AQ_Home3A [36, 52, 103, 113, 136, 143, 146, 151, 169, 181, 183, 205, 265, 270, 276, 282, 288, 291]
1884_102_Vis4AY_Home4A [41, 42, 44, 71, 75, 78, 107, 111, 113, 116, 132, 136, 159, 173, 204, 235, 245]
1884_103_Vis1AX_Home1A [4, 8, 10, 37, 42, 66, 69, 121, 148, 157, 207, 210, 221, 227, 253, 259, 261, 275, 276, 288, 290, 292, 299]
1884_103_Vis4AY_Home4A [22, 40, 63, 71, 110, 141, 146, 154, 248, 258]
1884_104_Vis1AX_Home1A [1, 25, 26, 55, 73, 76, 99, 138, 144, 191, 248, 253, 275, 281]
1884_104_Vis4AY_Home4A [14, 17, 38, 55, 100, 125, 132, 177, 241, 244, 246, 247]
1884_105_Vis1AX_Home1A [6, 8, 50, 60, 63, 77, 84, 85, 95, 130, 135, 154, 180, 210, 213, 227, 265]

In [370]:
keys_game_dict = set(game_dict.keys())
keys_game_dict2 = set(game_dict2.keys())

unique_to_game_dict = keys_game_dict - keys_game_dict2
unique_to_game_dict2 = keys_game_dict2 - keys_game_dict
unique_keys = unique_to_game_dict.union(unique_to_game_dict2)

print(f"Games in game_dict but not game_dict2: {unique_keys}")

Games in game_dict but not game_dict2: {'1883_026_Vis2AB_Home2A', '1883_018_Vis4AF_Home4A'}

As you can see, we lost 2 games in game_dict2, why? I looked at the game_info and game_events CSV files for both of these games. In game_events, we do see plays where the ball is hit and acquired by an outfielder. The problem is in the game_info dataframe we don't know who to attribute this to, as their player position player_id are NA for either all of almost all of the play_per_game. So if we don't know who to attribute the sqeuence to, we should not be using it to train (because it could be the home team's outfielder catching the ball, it could be the away team's outfielder catching the ball).

## Ball Pos modifications

When looking at the ball position data, we see that there is a lot more granularity in the timesteps between timestamps. We will keep this in mind for a bit. But for now, we will create a tuple that encapsulates the coordiantes of the ball (easier to access than with 3 separate columns). Since we are not going to be regarding any of the components separately this is fine.

In [371]:
# okay now apply to the ball_pos and player_pos dfs--> we have all the plays of interest for each game, now we want to get the ball position and player position for each of these plays

#set up the original dfs 
ball_pos = pd.concat([ball_pos_season1883, ball_pos_season1884], ignore_index=True)
ball_pos['game_str_play_id'] = ball_pos['game_str'].astype(str) + '_' + ball_pos['play_id'].astype(str)
ball_pos = ball_pos[['game_str_play_id'] + [col for col in ball_pos.columns if col != 'game_str_play_id']]  

ball_pos['ball_pos'] = tuple(zip(ball_pos['ball_position_x'], 
                                ball_pos['ball_position_y'], 
                                ball_pos['ball_position_z']))
ball_pos.drop(columns = ['ball_position_x', 'ball_position_y', 'ball_position_z'], inplace=True)
ball_pos

,game_str_play_id,game_str,play_id,timestamp,ball_pos
0,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22112,"(0.891828, 54.1203, 5.55345)"
1,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22162,"(0.940503, 47.5086, 5.28546)"
2,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22212,"(0.957876, 40.9689, 4.95912)"
3,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22262,"(0.943944, 34.5012, 4.5744)"
4,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22312,"(0.89871, 28.10607, 4.13136)"
...,...,...,...,...,...
2824320,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9918909,"(45.6471, 68.1357, 1.246203)"
2824321,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9918959,"(49.7562, 67.3356, 0.339675)"
2824322,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9919009,"(53.8197, 66.5178, -0.636369)"
2824323,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9919059,"(57.5049, 65.6523, -0.09915)"
2824324,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9919109,"(61.2816, 65.2512, 0.0)"

We should also make sure to filter for the same game_str  as in our earlier dictionary, as well as play ids. Note I did this in a different way because I realized the first way sucks for really large dataframes, and has time complexity O(n^2) worst case. This one is O(n) basically, but pandas has vectorized operations which should be faster than this.

In [372]:
c = 0 
for game, plays in game_dict2.items():
    for play in plays: 
        c += 1
c

3980

In [373]:
#valid_combos = set((game, str(play)) for game, play in game_dict.items() for play in plays)
valid_combos = set()  # Initialize an empty set

for game, plays in game_dict2.items():
    for play in plays:
        # Create a tuple of (game, play) and add it to the set
        combo = (game, str(play))
        valid_combos.add(combo)

def is_valid_game(game_str_play_id):
    # instead of using the row['game_str] and row['play_id'] which would have O(n) time
    game_str, play_id = game_str_play_id.rsplit('_', 1)
    return (game_str, play_id) in valid_combos #returns a boolean if the game_str_play_id is in the valid_combos set

ball_pos_fielders = ball_pos[ball_pos['game_str_play_id'].apply(is_valid_game)].copy() #.copy creates a new deep copy from ball_pos
ball_pos_fielders.reset_index()

,index,game_str_play_id,game_str,play_id,timestamp,ball_pos
0,1477,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350448,"(-0.990027, 54.5718, 6.13275)"
1,1478,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350498,"(-0.881826, 48.9819, 6.17436)"
2,1479,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350548,"(-0.769092, 43.4592, 6.13047)"
3,1480,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350598,"(-0.651822, 38.0037, 6.00099)"
4,1481,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350648,"(-0.530019, 32.6154, 5.78601)"
...,...,...,...,...,...,...
544924,2823121,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933009,"(106.5012, 218.5602, 14.40903)"
544925,2823122,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933059,"(107.8047, 219.8058, 11.42421)"
544926,2823123,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933109,"(109.1088, 221.0211, 8.36622)"
544927,2823124,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933159,"(110.4138, 222.2061, 5.23512)"
544928,2823125,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933209,"(111.7197, 223.3605, 2.030859)"

In [374]:
print(f'length of ball_pos_fielders: {len(ball_pos_fielders)}, length of ball_pos: {len(ball_pos)}, ratio: {len(ball_pos_fielders) / len(ball_pos)}')
print(f"number of unique game string play ids: {ball_pos_fielders['game_str_play_id'].nunique()}")

length of ball_pos_fielders: 544929, length of ball_pos: 2824325, ratio: 0.19294132226284155
number of unique game string play ids: 3980

## Player Pos modifications

Player position is a very very large dataframe, so we need to cut before doing any other operations on it. First we don't care about the positions of anyone besides 7,8,9,255 (fielders and 255 which is defined as ball_event with no player).

In [453]:
player_pos = pd.concat([player_pos_season1883, player_pos_season1884], ignore_index=True)

player_pos['game_str_play_id'] = player_pos['game_str'].astype(str) + '_' + player_pos['play_id'].astype(str)
player_pos = player_pos[['game_str_play_id'] + [col for col in player_pos.columns if col != 'game_str_play_id']]

KeyboardInterrupt:

In [454]:
player_pos_fielders = player_pos[player_pos['player_position'].isin([7,8,9,255])]
player_pos_fielders

,game_str_play_id,game_str,play_id,timestamp,player_position,field_x,field_y
6,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22112,7,-125.0007,253.8183
7,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22112,8,7.4436,301.8720
8,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22112,9,127.7214,248.6190
18,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22162,7,-125.0643,253.8678
19,1883_002_Vis1AB_Home1A_1,1883_002_Vis1AB_Home1A,1,22162,8,7.4370,301.8990
...,...,...,...,...,...,...,...
100036835,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9919559,8,20.1444,300.8991
100036836,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9919559,9,108.6270,193.9260
100036847,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9919609,7,-88.7160,242.2737
100036848,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9919609,8,20.0151,300.3975
100036849,1884_007_Vis4AL_Home4A_298,1884_007_Vis4AL_Home4A,298,9919609,9,108.3837,193.4163

Let us now filter the database for player position, game string and play id such that the game string and associated play id are in dictionary game_dict2 (a dictionary of all our play sequences with a fielder acquiring the ball)

In [482]:
valid_combos_player_pos = set()  # Initialize an empty set

def is_valid_player_pos(game_str_play_id):
    # instead of using the row['game_str] and row['play_id'] which would have O(n) time
    game_str, play_id = game_str_play_id.rsplit('_', 1)
    return (game_str, play_id) in valid_combos_player_pos 

for game, plays in game_dict2.items():
    for play in plays:
        # Create a tuple of (game, play) and add it to the set
        combo = (game, str(play))
        valid_combos_player_pos.add(combo)

player_pos_fielders2 = player_pos_fielders[player_pos_fielders['game_str_play_id'].apply(is_valid_game)].copy().reset_index() #.copy creates a new deep copy from ball_pos
player_pos_fielders2

,index,game_str_play_id,game_str,play_id,timestamp,player_position,field_x,field_y
0,23212,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350448,7,-130.1313,260.4474
1,23213,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350448,8,-7.4190,305.5308
2,23214,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350448,9,132.8118,258.9930
3,23224,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350498,7,-130.3080,260.2773
4,23225,1883_003_Vis1AB_Home1A_15,1883_003_Vis1AB_Home1A,15,350498,8,-7.2174,304.9875
...,...,...,...,...,...,...,...,...
2587880,99975012,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933909,8,76.1442,296.9385
2587881,99975013,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933909,9,108.1053,219.1536
2587882,99975022,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933959,7,-102.4044,267.2244
2587883,99975023,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933959,8,76.5516,296.7339
2587884,99975024,1884_007_Vis4AL_Home4A_237,1884_007_Vis4AL_Home4A,237,7933959,9,107.7714,218.8647

# Something wrong here (all player_positions are the same)

In [488]:
# I have no fcking clue how this works, I swear to god it gave me an error, I ran it again and it was still kinda wrong, I ran it again and it works
def create_player_positions(group):
    positions = []
    for ind, row in group.iterrows():
        positions.append({row['player_position']: (row['field_x'], row['field_y'])})
    return positions

player_positions = player_pos_fielders2.groupby(['game_str', 'play_id', 'timestamp']).apply(create_player_positions)
player_positions = player_positions.reset_index(name='player_positions')

player_pos_fielders2 = player_pos_fielders2.groupby(['game_str', 'play_id', 'timestamp']).first().reset_index()

player_pos_fielders2['player_positions'] = player_positions['player_positions']

player_pos_fielders2.drop(columns=['index', 'player_position','field_x', 'field_y'], inplace=True)

KeyError: 'player_position'

In [489]:
player_pos_fielders2

,game_str_play_id,game_str,play_id,timestamp,player_positions
0,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67373,"[{7: (-129.6927, 257.6286)}, {8: (-5.5209, 308..."
1,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67423,"[{7: (-129.672, 257.6757)}, {8: (-5.5326, 308...."
2,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67473,"[{7: (-129.6516, 257.7225)}, {8: (-5.5449, 308..."
3,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67523,"[{7: (-129.6309, 257.7693)}, {8: (-5.5575, 308..."
4,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67573,"[{7: (-129.6105, 257.8164)}, {8: (-5.5707, 308..."
...,...,...,...,...,...
863780,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088650,"[{7: (-116.9289, 261.9531)}, {8: (-15.9993, 29..."
863781,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088700,"[{7: (-116.8758, 261.9132)}, {8: (-16.0356, 29..."
863782,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088750,"[{7: (-116.823, 261.8733)}, {8: (-16.0716, 299..."
863783,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088800,"[{7: (-116.7702, 261.8337)}, {8: (-16.1079, 29..."
863784,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088850,"[{7: (-116.7174, 261.7941)}, {8: (-16.1442, 29..."

In [486]:
cols = ['game_str_play_id'] + [col for col in player_pos_fielders2.columns if col != 'game_str_play_id']
player_pos_fielders2 = player_pos_fielders2[cols]

In [487]:
player_pos_fielders2

,game_str_play_id,game_str,play_id,timestamp,player_positions
0,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67373,"[{7: (-129.6927, 257.6286)}, {8: (-5.5209, 308..."
1,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67423,"[{7: (-129.672, 257.6757)}, {8: (-5.5326, 308...."
2,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67473,"[{7: (-129.6516, 257.7225)}, {8: (-5.5449, 308..."
3,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67523,"[{7: (-129.6309, 257.7693)}, {8: (-5.5575, 308..."
4,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67573,"[{7: (-129.6105, 257.8164)}, {8: (-5.5707, 308..."
...,...,...,...,...,...
863780,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088650,"[{7: (-116.9289, 261.9531)}, {8: (-15.9993, 29..."
863781,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088700,"[{7: (-116.8758, 261.9132)}, {8: (-16.0356, 29..."
863782,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088750,"[{7: (-116.823, 261.8733)}, {8: (-16.0716, 299..."
863783,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088800,"[{7: (-116.7702, 261.8337)}, {8: (-16.1079, 29..."
863784,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088850,"[{7: (-116.7174, 261.7941)}, {8: (-16.1442, 29..."

### Data Cleaned

We now have player_pos_fielders2, ball_pos_fielders, game_events_fielders2, game_dict2, game_info_fielders

In [459]:
game_dict2

{'1883_001_Vis1AB_Home1A': [2,
  4,
  66,
  101,
  127,
  141,
  168,
  170,
  173,
  196,
  241,
  264],
 '1883_001_Vis4AB_Home4A': [47, 74, 94, 99, 137, 201, 224, 229],
 '1883_002_Vis4AB_Home4A': [7, 10, 43, 84, 85, 171, 219, 312, 314, 319],
 '1883_003_Vis1AB_Home1A': [15,
  22,
  33,
  42,
  88,
  103,
  125,
  127,
  159,
  185,
  190,
  241],
 '1883_003_Vis4AB_Home4A': [155, 221, 224, 244, 248, 253, 261, 268, 308],
 '1883_004_Vis1AC_Home1A': [42, 43, 130, 139, 257, 266, 300],
 '1883_004_Vis4AC_Home4A': [7, 30, 32, 37, 56, 61, 87, 129, 196, 226],
 '1883_005_Vis1AC_Home1A': [47, 62, 92, 108, 194, 238, 268, 272, 312, 318],
 '1883_005_Vis4AC_Home4A': [46,
  103,
  108,
  137,
  142,
  144,
  145,
  178,
  184,
  215,
  221,
  300],
 '1883_006_Vis1AC_Home1A': [43, 72, 94, 97, 127, 138, 171, 237],
 '1883_006_Vis4AC_Home4A': [2,
  27,
  41,
  48,
  88,
  91,
  96,
  101,
  133,
  138,
  144,
  145,
  160,
  185,
  194,
  224,
  251,
  256,
  270],
 '1883_007_Vis1AC_Home1A': [77,
  127,
  129,
  134,
  161,
  168,
  196,
  198,
  206,
  228,
  258],
 '1883_008_Vis4AD_Home4A': [3, 8, 9, 12, 40, 64, 174, 190, 196, 234],
 '1883_009_Vis4AD_Home4A': [2,
  35,
  38,
  76,
  85,
  112,
  123,
  228,
  249,
  270,
  297,
  304],
 '1883_010_Vis1AD_Home1A': [41, 85, 138, 149, 207],
 '1883_010_Vis3AB_Home3A': [12, 34, 35, 44, 50, 87, 145, 148, 253],
 '1883_010_Vis4AD_Home4A': [11,
  35,
  68,
  113,
  147,
  179,
  182,
  186,
  190,
  193,
  261],
 '1883_011_Vis1AD_Home1A': [10, 48, 118, 119, 227],
 '1883_011_Vis3AB_Home3A': [22, 62, 97, 123, 124, 142, 144, 227, 239, 291],
 '1883_011_Vis4AE_Home4A': [5,
  6,
  72,
  121,
  162,
  168,
  172,
  185,
  203,
  237,
  244,
  248,
  250,
  262,
  300],
 '1883_012_Vis3AB_Home3A': [2,
  5,
  20,
  57,
  66,
  115,
  142,
  148,
  162,
  173,
  181,
  271,
  283,
  380],
 '1883_013_Vis1AE_Home1A': [4,
  46,
  58,
  60,
  72,
  91,
  182,
  185,
  190,
  256,
  289,
  310,
  367,
  386],
 '1883_013_Vis3AB_Home3A': [1,
  4,
  39,
  40,
  66,
  115,
  120,
  123,
  153,
  190,
  196,
  206],
 '1883_013_Vis4AE_Home4A': [12,
  33,
  51,
  68,
  70,
  75,
  78,
  108,
  129,
  135,
  152,
  159,
  165,
  174,
  175,
  177,
  204,
  224,
  227,
  267,
  270,
  314],
 '1883_014_Vis1AE_Home1A': [58,
  66,
  73,
  79,
  80,
  107,
  139,
  151,
  193,
  198,
  277,
  294],
 '1883_014_Vis4AE_Home4A': [51, 63, 118, 195, 225],
 '1883_015_Vis1AE_Home1A': [12,
  30,
  60,
  96,
  103,
  130,
  156,
  225,
  227,
  228,
  230,
  268,
  280,
  292],
 '1883_016_Vis3AC_Home3A': [12,
  14,
  23,
  24,
  70,
  85,
  92,
  138,
  140,
  148,
  175,
  189,
  195,
  199,
  290,
  298,
  302],
 '1883_017_Vis3AC_Home3A': [7,
  36,
  40,
  52,
  54,
  85,
  116,
  119,
  122,
  184,
  188,
  204,
  207,
  211,
  240,
  254,
  256,
  269,
  273],
 '1883_017_Vis4AF_Home4A': [7, 37, 46, 88, 107, 109],
 '1883_018_Vis1AF_Home1A': [6,
  9,
  46,
  92,
  129,
  132,
  136,
  140,
  143,
  230,
  234,
  272],
 '1883_018_Vis3AC_Home3A': [94, 96, 107, 156, 177, 183, 228, 308],
 '1883_019_Vis1AF_Home1A': [32, 35, 40, 66, 70, 139, 227, 261],
 '1883_019_Vis4AF_Home4A': [4, 96, 114, 120, 123, 153, 227, 306, 308, 317],
 '1883_020_Vis1AF_Home1A': [171],
 '1883_021_Vis1AG_Home1A': [6, 12, 70, 150, 232, 271],
 '1883_023_Vis1AG_Home1A': [6, 108, 147, 202, 246, 251, 253, 272],
 '1883_024_Vis1AG_Home1A': [30, 67, 70, 71, 72, 140, 268, 275, 276],
 '1883_024_Vis2AB_Home2A': [48, 109, 162, 163, 189, 197, 250],
 '1883_024_Vis4AG_Home4A': [49,
  52,
  61,
  82,
  94,
  137,
  163,
  168,
  182,
  197,
  201,
  202,
  225,
  244,
  253,
  263],
 '1883_025_Vis1AG_Home1A': [29,
  33,
  60,
  89,
  162,
  175,
  192,
  209,
  215,
  218,
  245,
  246,
  251,
  280,
  288,
  292],
 '1883_025_Vis2AB_Home2A': [6,
  9,
  88,
  117,
  120,
  123,
  126,
  128,
  134,
  136,
  168,
  197,
  200,
  252],
 '1883_025_Vis4AG_Home4A': [44,
  48,
  92,
  127,
  153,
  156,
  189,
  194,
  198,
  201,
  275],
 '1883_026_Vis4AG_Home4A': [2,
  33,
  35,
  37,
  41,
  42,
  45,
  65,
  129,
  163,
  167,
  169,
  208,
  264,
  295,
  298,
  331,
  339],
 '1883_027_Vis4AH_Home4A': [48, 100, 134, 225, 230, 234, 300],
 '1883_028.5_Vis3AD_Home3A': [8,
  36,
  78,
  94,
  98,
  104,
  107,
  128,
  149,
  162,
  182,
  192,
  193],
 '1883_028_Vis3AD_Home3A': [2, 109, 113, 189, 250, 254, 286, 290],
 '1883_028_Vis4AH_Home4A': [8,
  49,
  69,
  86,
  88,
  122,
  127,
  128,
  196,
  203,
  225,
  233,
  271,
  297],
 '1883_029_Vis3AD_Home3A': [37, 65, 75, 78, 80, 103, 104, 135, 262, 306],
 '1883_029_Vis4AH_Home4A': [4, 78, 113, 158, 166, 256],
 '1883_030_Vis3AD_Home3A': [35,
  39,
  55,
  61,
  92,
  97,
  150,
  151,
  176,
  182,
  184,
  246],
 '1883_030_Vis4AH_Home4A': [4,
  15,
  32,
  73,
  79,
  86,
  87,
  106,
  134,
  164,
  169,
  176,
  179,
  203,
  209,
  211],
 '1883_031_Vis1AH_Home1A': [5, 11, 149, 199],
 '1883_032_Vis1AH_Home1A': [100, 157, 160, 168, 174, 210, 277, 282, 283, 284],
 '1883_033_Vis1AH_Home1A': [34, 143, 155, 181, 191, 250],
 '1883_034_Vis1AH_Home1A': [4, 55, 61, 125, 144],
 '1883_035_Vis1AI_Home1A': [3, 24, 31, 50, 70, 182],
 '1883_035_Vis2AC_Home2A': [5,
  53,
  55,
  85,
  91,
  112,
  126,
  127,
  129,
  144,
  146,
  149,
  160,
  191,
  204,
  217,
  240,
  245,
  246],
 '1883_036_Vis1AI_Home1A': [3, 9, 98, 128, 244],
 '1883_036_Vis2AC_Home2A': [12,
  35,
  45,
  53,
  74,
  78,
  83,
  126,
  128,
  235,
  239,
  259,
  261,
  265,
  269],
 '1883_037_Vis1AI_Home1A': [39,
  67,
  69,
  73,
  169,
  172,
  204,
  208,
  216,
  218,
  234,
  272,
  313],
 '1883_037_Vis2AC_Home2A': [3,
  46,
  50,
  82,
  95,
  97,
  185,
  186,
  219,
  225,
  262,
  267,
  300,
  336],
 '1883_038_Vis1AI_Home1A': [2,
  42,
  94,
  96,
  97,
  120,
  127,
  184,
  201,
  203,
  212,
  213,
  227,
  245,
  251,
  257],
 '1883_038_Vis3AE_Home3A': [50, 78, 82, 112, 125, 196, 225, 226],
 '1883_038_Vis4AI_Home4A': [43, 96, 102, 103, 193, 198, 202, 281, 289, 301],
 '1883_039_Vis2AD_Home2A': [6, 52, 76, 83, 105, 149, 156, 197, 260, 262],
 '1883_039_Vis3AE_Home3A': [3,
  9,
  42,
  62,
  68,
  108,
  147,
  150,
  181,
  235,
  285,
  318],
 '1883_039_Vis4AI_Home4A': [12,
  13,
  19,
  47,
  50,
  51,
  57,
  93,
  139,
  173,
  234,
  248,
  298],
 '1883_040_Vis3AE_Home3A': [2,
  23,
  59,
  64,
  113,
  119,
  138,
  180,
  197,
  260,
  294,
  297],
 '1883_040_Vis4AI_Home4A': [10,
  74,
  82,
  90,
  126,
  131,
  160,
  205,
  258,
  268,
  288,
  297,
  301],
 '1883_041.5_Vis2AD_Home2A': [14, 48, 54, 63, 69, 90, 96, 177, 190, 201],
 '1883_041_Vis2AD_Home2A': [1,
  5,
  6,
  29,
  37,
  40,
  67,
  80,
  119,
  135,
  156,
  161,
  194],
 '1883_041_Vis3AE_Home3A': [7,
  9,
  23,
  37,
  50,
  52,
  69,
  94,
  102,
  138,
  157,
  164,
  200,
  217,
  222,
  260,
  266,
  297,
  299,
  324],
 '1883_041_Vis4AI_Home4A': [11, 136, 160, 186, 193, 204, 230, 296],
 '1883_042_Vis4AJ_Home4A': [8,
  9,
  68,
  75,
  101,
  139,
  186,
  245,
  289,
  295,
  317,
  323,
  332,
  339,
  347],
 '1883_043_Vis3AF_Home3A': [1,
  4,
  9,
  36,
  44,
  47,
  49,
  66,
  76,
  84,
  97,
  126,
  164,
  200,
  234,
  265,
  346],
 '1883_043_Vis4AJ_Home4A': [3, 52, 138, 142, 157, 218, 251, 252, 253],
 '1883_044_Vis3AF_Home3A': [2,
  33,
  70,
  89,
  99,
  101,
  104,
  130,
  162,
  188,
  189,
  220],
 '1883_044_Vis4AJ_Home4A': [3,
  103,
  117,
  119,
  144,
  227,
  255,
  261,
  264,
  270,
  271],
 '1883_045_Vis3AF_Home3A': [2,
  11,
  16,
  24,
  71,
  101,
  109,
  127,
  139,
  165,
  171,
  175,
  291,
  299],
 '1883_046_Vis2AE_Home2A': [2, 10, 12, 15, 49, 62, 82, 122, 210, 214, 236],
 '1883_047.5_Vis2AE_Home2A': [5, 9, 34, 35, 45, 72, 107, 116, 132, 182, 192],
 '1883_047_Vis2AE_Home2A': [15,
  70,
  77,
  113,
  114,
  145,
  168,
  171,
  172,
  176,
  218,
  219],
 '1883_048_Vis1AJ_Home1A': [40, 50, 63, 72, 144, 155, 156, 159, 192],
 '1883_049_Vis1AJ_Home1A': [36, 38, 62, 64, 66, 142, 144, 216],
 '1883_050_Vis1AJ_Home1A': [2, 4, 5, 30, 33, 65, 108, 152, 155, 180, 222],
 '1884_001_Vis3AG_Home3A': [3, 102, 108, 115, 149, 150, 166, 177, 238, 275],
 '1884_001_Vis4AK_Home4A': [7,
  13,
  18,
  22,
  47,
  54,
  125,
  158,
  170,
  237,
  239,
  285,
  292],
 '1884_002_Vis3AG_Home3A': [12, 32, 38, 167, 194, 195, 249],
 '1884_002_Vis4AK_Home4A': [7, 32, 35, 56, 85, 184, 185, 214, 223, 231],
 '1884_003_Vis3AG_Home3A': [5, 11, 14, 53, 78, 92, 93, 154, 192, 232],
 '1884_004_Vis3AG_Home3A': [13,
  40,
  52,
  83,
  109,
  112,
  115,
  175,
  193,
  203,
  205,
  232,
  239,
  272,
  288],
 '1884_004_Vis4AK_Home4A': [8, 24, 33, 60, 78, 84, 96, 137, 191],
 '1884_005_Vis4AL_Home4A': [47, 83, 87, 112, 116, 164, 196, 209, 242, 248],
 '1884_006_Vis4AL_Home4A': [40,
  41,
  98,
  108,
  132,
  139,
  161,
  168,
  176,
  208,
  284],
 '1884_007_Vis4AL_Home4A': [45, 47, 80, 132, 133, 176, 237],
 '1884_008_Vis1AK_Home1A': [37,
  42,
  64,
  72,
  90,
  105,
  139,
  151,
  160,
  179,
  181,
  195],
 '1884_009.5_Vis1AK_Home1A': [77, 82, 93, 178],
 '1884_009_Vis1AK_Home1A': [37, 51, 120, 128, 159],
 '1884_010_Vis2AF_Home2A': [14, 18, 58, 74, 134, 141, 153, 163, 167, 194, 247],
 '1884_010_Vis3AH_Home3A': [7,
  14,
  32,
  63,
  92,
  95,
  97,
  98,
  102,
  104,
  123,
  130,
  163,
  272,
  296],
 '1884_011_Vis2AF_Home2A': [4,
  7,
  14,
  28,
  29,
  69,
  153,
  154,
  191,
  255,
  259,
  326,
  349],
 '1884_011_Vis3AH_Home3A': [25,
  42,
  71,
  78,
  86,
  107,
  110,
  139,
  143,
  145,
  217,
  220,
  227],
 '1884_012_Vis2AF_Home2A': [80,
  84,
  85,
  87,
  127,
  142,
  180,
  181,
  190,
  227,
  252,
  253,
  256,
  283,
  288],
 '1884_012_Vis3AH_Home3A': [3,
  11,
  27,
  72,
  75,
  81,
  92,
  121,
  124,
  144,
  172,
  240,
  246,
  249],
 '1884_013_Vis4AM_Home4A': [64, 66, 88, 95, 101, 111, 113, 144, 166, 182],
 '1884_014_Vis2AG_Home2A': [1,
  2,
  7,
  15,
  75,
  81,
  96,
  118,
  173,
  177,
  180,
  215,
  217],
 '1884_014_Vis4AM_Home4A': [43,
  55,
  85,
  92,
  93,
  122,
  124,
  127,
  129,
  134,
  164,
  237,
  247],
 '1884_015_Vis2AG_Home2A': [2,
  42,
  54,
  83,
  87,
  111,
  114,
  152,
  154,
  204,
  222,
  224,
  265,
  275,
  297,
  333,
  337,
  355],
 '1884_015_Vis4AM_Home4A': [4, 46, 48, 84, 95, 139, 222, 277, 280],
 '1884_016_Vis4AN_Home4A': [32, 79, 110, 130, 141, 199, 204, 262],
 '1884_017.5_Vis1AL_Home1A': [6, 9, 49, 92, 108, 109, 112, 132, 167, 188, 212],
 '1884_017_Vis1AL_Home1A': [1, 3, 27, 44, 77, 93, 137, 141, 157],
 '1884_017_Vis4AN_Home4A': [31,
  100,
  105,
  108,
  183,
  204,
  245,
  246,
  289,
  290,
  298],
 '1884_018_Vis1AL_Home1A': [7,
  51,
  78,
  92,
  93,
  94,
  147,
  182,
  211,
  224,
  228,
  240,
  279,
  332,
  339,
  344,
  347],
 '1884_018_Vis4AN_Home4A': [41,
  54,
  56,
  75,
  80,
  92,
  116,
  117,
  182,
  186,
  219,
  240,
  244,
  250],
 '1884_019_Vis3AI_Home3A': [9, 15, 20, 36, 109, 132, 141, 167, 200, 237, 320],
 '1884_020_Vis1AM_Home1A': [1, 36, 86, 91, 115, 124, 194, 241, 246, 251],
 '1884_021_Vis1AM_Home1A': [56, 61, 65, 156, 191, 200],
 '1884_021_Vis3AI_Home3A': [36,
  62,
  108,
  112,
  135,
  136,
  143,
  158,
  192,
  197,
  231,
  262],
 '1884_022_Vis1AM_Home1A': [2, 4, 9, 10, 28, 117, 139, 141, 276],
 '1884_022_Vis3AI_Home3A': [45,
  89,
  91,
  110,
  138,
  147,
  182,
  187,
  193,
  258,
  269,
  272,
  333],
 '1884_023_Vis3AI_Home3A': [2,
  3,
  5,
  8,
  9,
  28,
  31,
  51,
  69,
  74,
  78,
  119,
  148,
  184,
  226,
  235,
  255],
 '1884_024_Vis2AH_Home2A': [5,
  11,
  16,
  70,
  73,
  76,
  91,
  98,
  99,
  122,
  125,
  153,
  156,
  193,
  197,
  237,
  261],
 '1884_025_Vis2AH_Home2A': [11,
  61,
  77,
  88,
  208,
  217,
  237,
  265,
  269,
  273,
  302,
  303],
 '1884_026_Vis2AH_Home2A': [13, 32, 55, 87, 111, 113, 115, 151, 221, 244, 249],
 '1884_026_Vis4AO_Home4A': [27,
  32,
  64,
  86,
  88,
  90,
  127,
  130,
  137,
  140,
  156,
  157,
  173,
  185,
  215],
 '1884_027_Vis2AI_Home2A': [3, 11, 70, 71, 89, 167, 169, 175, 192, 235],
 '1884_027_Vis4AO_Home4A': [12, 143, 148, 156],
 '1884_028_Vis2AI_Home2A': [1,
  35,
  81,
  110,
  121,
  138,
  146,
  151,
  190,
  203,
  208,
  237,
  251,
  298,
  302,
  307],
 '1884_028_Vis4AO_Home4A': [28, 31, 33, 84, 87, 149, 156, 249, 300],
 '1884_029_Vis2AI_Home2A': [12, 32, 151, 174, 177, 180, 230, 241, 255, 276],
 '1884_029_Vis4AO_Home4A': [13,
  16,
  27,
  35,
  61,
  128,
  133,
  135,
  143,
  196,
  203,
  207,
  251],
 '1884_030_Vis1AN_Home1A': [2,
  10,
  60,
  67,
  69,
  70,
  129,
  171,
  261,
  269,
  271,
  295,
  298,
  302],
 '1884_030_Vis3AJ_Home3A': [15, 31, 34, 93, 197, 206, 256, 266, 290, 292],
 '1884_030_Vis4AP_Home4A': [15, 25, 48, 81, 83, 88, 141],
 '1884_031_Vis1AN_Home1A': [10,
  38,
  44,
  55,
  76,
  79,
  86,
  87,
  113,
  138,
  186,
  216,
  237],
 '1884_031_Vis3AJ_Home3A': [82,
  87,
  91,
  94,
  123,
  162,
  178,
  204,
  206,
  214,
  220,
  242,
  244,
  249,
  253,
  282,
  287,
  325],
 '1884_031_Vis4AP_Home4A': [1,
  4,
  7,
  16,
  21,
  48,
  49,
  74,
  80,
  99,
  100,
  150,
  168,
  210,
  213,
  215,
  221],
 '1884_032_Vis1AN_Home1A': [7,
  19,
  21,
  26,
  41,
  48,
  85,
  88,
  121,
  127,
  157,
  159,
  242,
  256,
  263,
  267],
 '1884_032_Vis3AJ_Home3A': [4, 19, 20, 40, 56, 84, 89, 91, 93, 169, 192],
 '1884_033_Vis1AO_Home1A': [40, 85, 183, 218, 221, 240],
 '1884_033_Vis3AJ_Home3A': [34,
  57,
  58,
  68,
  71,
  99,
  153,
  158,
  163,
  217,
  275,
  278,
  280,
  286],
 '1884_033_Vis4AP_Home4A': [14, 78, 83, 104, 106, 112, 149, 151, 250, 259],
 '1884_034_Vis1AO_Home1A': [2,
  5,
  8,
  51,
  78,
  84,
  87,
  88,
  111,
  112,
  144,
  145,
  159,
  204,
  210,
  218,
  234,
  279,
  284,
  287],
 '1884_035_Vis1AO_Home1A': [5, 57, 88, 89, 90, 129, 136, 167, 208],
 '1884_036_Vis3AK_Home3A': [1,
  26,
  29,
  32,
  76,
  78,
  104,
  123,
  126,
  219,
  222,
  234],
 '1884_037_Vis2AJ_Home2A': [5,
  7,
  31,
  133,
  198,
  225,
  227,
  231,
  239,
  256,
  263,
  282,
  285],
 '1884_037_Vis3AK_Home3A': [14,
  50,
  54,
  86,
  92,
  123,
  125,
  128,
  167,
  198,
  203,
  234,
  239,
  318,
  326],
 '1884_038_Vis2AJ_Home2A': [10,
  16,
  39,
  90,
  121,
  176,
  183,
  195,
  213,
  254,
  275,
  276,
  302,
  304,
  305,
  307,
  313,
  318],
 '1884_038_Vis3AK_Home3A': [57,
  59,
  64,
  68,
  104,
  118,
  126,
  177,
  186,
  190,
  203,
  231,
  254],
 '1884_038_Vis4AQ_Home4A': [73, 93, 137, 210],
 '1884_039_Vis2AJ_Home2A': [5, 58, 64, 66, 70, 83, 85, 121, 164],
 '1884_039_Vis4AQ_Home4A': [8,
  41,
  72,
  80,
  174,
  178,
  205,
  223,
  228,
  234,
  250,
  272],
 '1884_040_Vis4AQ_Home4A': [51, 93, 164, 165, 171, 217],
 '1884_041_Vis2AK_Home2A': [8,
  11,
  48,
  60,
  120,
  127,
  128,
  139,
  160,
  167,
  200,
  221,
  223,
  239,
  243],
 '1884_041_Vis4AR_Home4A': [4, 46, 77, 80, 82, 85, 89, 95, 136, 170, 231, 234],
 '1884_042_Vis4AR_Home4A': [6, 16, 41, 103, 109, 113, 125, 206, 294, 348, 350],
 '1884_043.5_Vis2AK_Home2A': [2, 9],
 '1884_043_Vis2AK_Home2A': [7,
  14,
  16,
  45,
  48,
  54,
  85,
  125,
  163,
  173,
  174,
  181,
  200],
 '1884_043_Vis4AR_Home4A': [40,
  71,
  90,
  101,
  126,
  136,
  141,
  155,
  186,
  189,
  192,
  200,
  239,
  243,
  248,
  255,
  294],
 '1884_044.5_Vis1AP_Home1A': [1, 6, 38, 62, 109, 113, 151, 191],
 '1884_044_Vis1AP_Home1A': [5,
  6,
  52,
  62,
  83,
  85,
  131,
  136,
  159,
  164,
  166,
  175,
  195,
  216],
 '1884_045_Vis1AP_Home1A': [94,
  110,
  118,
  154,
  157,
  187,
  190,
  193,
  237,
  240,
  242,
  257,
  291,
  304],
 '1884_046_Vis1AP_Home1A': [6, 10, 64, 67, 123, 154, 217, 220],
 '1884_047_Vis1AQ_Home1A': [4, 60, 85, 133, 137, 151, 206, 267, 297],
 '1884_048_Vis1AQ_Home1A': [2, 25, 29, 36, 71, 77, 78, 157, 158, 216],
 '1884_049_Vis1AQ_Home1A': [3, 11, 27, 31, 62, 104, 137, 167, 176, 231],
 '1884_050_Vis1AQ_Home1A': [27,
  34,
  82,
  116,
  118,
  149,
  151,
  153,
  155,
  220,
  250,
  252,
  255],
 '1884_051_Vis3AL_Home3A': [27,
  28,
  33,
  56,
  61,
  66,
  93,
  95,
  97,
  139,
  146,
  206,
  238,
  284],
 '1884_051_Vis4AS_Home4A': [7,
  13,
  76,
  100,
  104,
  108,
  124,
  162,
  192,
  217,
  218,
  241,
  253,
  260,
  274],
 '1884_052_Vis3AL_Home3A': [6, 146, 194, 196, 225, 231, 245, 267, 271],
 '1884_052_Vis4AS_Home4A': [94, 97, 105, 114, 192, 214, 238, 245],
 '1884_053_Vis3AL_Home3A': [7,
  8,
  10,
  18,
  40,
  41,
  44,
  74,
  89,
  97,
  130,
  167,
  185,
  219,
  220,
  265,
  302,
  335],
 '1884_053_Vis4AS_Home4A': [7,
  47,
  49,
  77,
  78,
  94,
  101,
  104,
  114,
  115,
  164,
  179,
  227,
  274],
 '1884_054_Vis1AR_Home1A': [1,
  39,
  41,
  44,
  66,
  104,
  113,
  167,
  197,
  200,
  220,
  237,
  242,
  251],
 '1884_054_Vis3AL_Home3A': [1, 8, 28, 54, 92, 99, 104, 226, 236, 261, 265],
 '1884_054_Vis4AT_Home4A': [32, 47, 148, 183, 201],
 '1884_055_Vis1AR_Home1A': [15, 20, 59, 108, 109, 111, 129, 206, 259],
 '1884_055_Vis4AT_Home4A': [48,
  51,
  53,
  87,
  98,
  130,
  135,
  149,
  192,
  244,
  273,
  287],
 '1884_056_Vis1AR_Home1A': [42, 123, 212, 233, 258],
 '1884_056_Vis4AT_Home4A': [7,
  15,
  77,
  80,
  93,
  95,
  102,
  128,
  133,
  135,
  186,
  210,
  253,
  291],
 '1884_057_Vis2AL_Home2A': [3,
  6,
  9,
  46,
  49,
  66,
  84,
  105,
  137,
  224,
  227,
  228,
  257],
 '1884_058_Vis2AL_Home2A': [36,
  47,
  68,
  87,
  97,
  113,
  129,
  171,
  185,
  188,
  231,
  246,
  252,
  258,
  261,
  263],
 '1884_059_Vis1AS_Home1A': [2,
  29,
  57,
  65,
  79,
  115,
  130,
  134,
  139,
  140,
  171,
  198,
  203,
  236],
 '1884_059_Vis2AL_Home2A': [5,
  44,
  98,
  104,
  109,
  111,
  119,
  130,
  136,
  155,
  172,
  177,
  197,
  223],
 '1884_060_Vis1AS_Home1A': [7,
  11,
  38,
  45,
  71,
  81,
  92,
  116,
  140,
  141,
  161,
  162,
  189,
  200],
 '1884_060_Vis2AL_Home2A': [16,
  32,
  35,
  36,
  38,
  46,
  61,
  66,
  74,
  103,
  132,
  168,
  170,
  172,
  217,
  266,
  268,
  275],
 '1884_061_Vis2AM_Home2A': [11, 23, 56, 101, 210],
 '1884_061_Vis3AM_Home3A': [3,
  30,
  33,
  34,
  37,
  39,
  59,
  70,
  82,
  121,
  126,
  129,
  181,
  203,
  219,
  221,
  238,
  268,
  276],
 '1884_062_Vis2AM_Home2A': [50, 67, 70, 88, 93, 97, 100, 197, 202, 219, 266],
 '1884_062_Vis3AM_Home3A': [7,
  12,
  14,
  24,
  59,
  78,
  86,
  89,
  91,
  94,
  97,
  152,
  164,
  177,
  207,
  215,
  251,
  263,
  269],
 '1884_063_Vis2AM_Home2A': [11, 45, 111, 114, 118, 173, 270],
 '1884_063_Vis3AM_Home3A': [1, 7, 70, 71, 91, 143, 212],
 '1884_064_Vis3AM_Home3A': [11,
  45,
  78,
  94,
  107,
  143,
  165,
  168,
  193,
  219,
  225,
  227,
  260,
  262],
 '1884_065_Vis1AT_Home1A': [3, 79, 117, 123, 127, 153, 177, 179, 183],
 '1884_066_Vis1AT_Home1A': [7, 50, 71, 74, 88, 107, 124, 169, 173],
 '1884_067_Vis1AT_Home1A': [28, 30, 45, 133, 165],
 '1884_067_Vis4AU_Home4A': [2, 4, 22, 111, 135, 137, 203, 252, 255],
 '1884_068_Vis4AU_Home4A': [4,
  70,
  82,
  126,
  143,
  147,
  176,
  210,
  254,
  277,
  282,
  299],
 '1884_069_Vis4AU_Home4A': [17,
  62,
  66,
  70,
  75,
  81,
  82,
  132,
  175,
  187,
  261,
  307],
 '1884_070_Vis4AU_Home4A': [4,
  8,
  44,
  49,
  56,
  61,
  96,
  105,
  140,
  144,
  203,
  209,
  254,
  257],
 '1884_071_Vis2AN_Home2A': [12,
  60,
  62,
  92,
  98,
  117,
  123,
  136,
  157,
  191,
  194,
  214,
  261,
  265,
  292],
 '1884_072.5_Vis2AN_Home2A': [8,
  34,
  54,
  64,
  83,
  93,
  96,
  113,
  124,
  159,
  226,
  228,
  233,
  235],
 '1884_072_Vis2AN_Home2A': [6,
  12,
  23,
  31,
  44,
  64,
  67,
  72,
  110,
  133,
  141,
  156,
  164],
 '1884_073_Vis2AN_Home2A': [36,
  73,
  96,
  140,
  171,
  239,
  244,
  257,
  287,
  317,
  344,
  349],
 '1884_074_Vis1AU_Home1A': [1, 46, 67, 70, 136, 154, 192, 200, 204, 270],
 '1884_074_Vis3AN_Home3A': [2,
  14,
  50,
  56,
  94,
  97,
  108,
  146,
  157,
  201,
  204,
  240],
 '1884_075_Vis1AU_Home1A': [26, 72, 127, 129, 165, 182, 193, 223],
 '1884_075_Vis3AN_Home3A': [5,
  6,
  11,
  12,
  16,
  44,
  48,
  92,
  100,
  128,
  133,
  139,
  170,
  191,
  213,
  245,
  299,
  321],
 '1884_076_Vis1AU_Home1A': [9,
  13,
  38,
  91,
  98,
  99,
  114,
  119,

In [381]:
game_info_fielders

,game_str,home_team,away_team,at_bat,play_per_game,inning,top_bottom,pitcher,catcher,first_base,second_base,third_base,shortstop,left_field,center_field,right_field,batter,first_baserunner,second_baserunner,third_baserunner
0,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,1.0,1,1,top,602,647,807,471,856,513,492,594,537,7377,0,0,0
1,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,1.0,2,1,top,602,647,807,471,856,513,492,594,537,7377,0,0,0
2,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,2.0,3,1,top,602,647,807,471,856,513,492,594,537,7464,0,0,0
3,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,2.0,4,1,top,602,647,807,471,856,513,492,594,537,7464,0,0,0
4,1883_001_Vis1AB_Home1A,Home1A,Vis1AB,3.0,5,1,top,602,647,807,471,856,513,492,594,537,4944,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1884_143_Vis4BE_Home4A,Home4A,Vis4BE,74.0,288,9,top,924,719,702,586,835,345,427,861,502,2771,0,0,0
95408,1884_143_Vis4BE_Home4A,Home4A,Vis4BE,74.0,289,9,top,924,719,702,586,835,345,427,861,502,2771,0,0,0
95409,1884_143_Vis4BE_Home4A,Home4A,Vis4BE,74.0,290,9,top,924,719,702,586,835,345,427,861,502,2771,0,0,0
95410,1884_143_Vis4BE_Home4A,Home4A,Vis4BE,74.0,291,9,top,924,719,702,586,835,345,427,861,502,2771,0,0,0
95411,1884_143_Vis4BE_Home4A,Home4A,Vis4BE,74.0,292,9,top,924,719,702,586,835,345,427,861,502,2771,0,0,0

In [460]:
game_events_fielders2

,game_str_play_id,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
0,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,1.0,2,67373,1,1
1,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,1.0,2,67773,10,4
2,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,1.0,2,73273,8,2
3,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,1.0,2,73473,0,5
4,1883_001_Vis1AB_Home1A_4,1883_001_Vis1AB_Home1A,4,2.0,4,114323,1,1
...,...,...,...,...,...,...,...,...
28760,1884_143_Vis4BE_Home4A_268,1884_143_Vis4BE_Home4A,268,67.0,267,9349950,0,5
28761,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,73.0,287,10029300,1,1
28762,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,73.0,287,10029700,10,4
28763,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,73.0,287,10034300,7,2
28764,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,73.0,287,10034500,0,5

In [383]:
ball_pos_fielders.iloc[74844]

game_str_play_id        1883_018_Vis3AC_Home3A_228
game_str                    1883_018_Vis3AC_Home3A
play_id                                        228
timestamp                                  8149490
ball_pos            (-31.2912, 172.6992, 123.6711)
Name: 468334, dtype: object

In [490]:
player_pos_fielders2

,game_str_play_id,game_str,play_id,timestamp,player_positions
0,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67373,"[{7: (-129.6927, 257.6286)}, {8: (-5.5209, 308..."
1,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67423,"[{7: (-129.672, 257.6757)}, {8: (-5.5326, 308...."
2,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67473,"[{7: (-129.6516, 257.7225)}, {8: (-5.5449, 308..."
3,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67523,"[{7: (-129.6309, 257.7693)}, {8: (-5.5575, 308..."
4,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67573,"[{7: (-129.6105, 257.8164)}, {8: (-5.5707, 308..."
...,...,...,...,...,...
863780,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088650,"[{7: (-116.9289, 261.9531)}, {8: (-15.9993, 29..."
863781,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088700,"[{7: (-116.8758, 261.9132)}, {8: (-16.0356, 29..."
863782,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088750,"[{7: (-116.823, 261.8733)}, {8: (-16.0716, 299..."
863783,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088800,"[{7: (-116.7702, 261.8337)}, {8: (-16.1079, 29..."
863784,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088850,"[{7: (-116.7174, 261.7941)}, {8: (-16.1442, 29..."

We need to make a dataframe now of game_str, play_id, timestamp, event_code, ball position, player positions, player position, event code.

In [491]:
#this is claude ---> fix this later 

# Step 2: Perform outer merges
df_merged = pd.merge(ball_pos_fielders[['game_str_play_id', 'game_str', 'play_id', 'timestamp', 'ball_pos']], 
                     player_pos_fielders2[['game_str_play_id', 'game_str', 'play_id', 'timestamp', 'player_positions']], 
                     on=['game_str_play_id', 'game_str', 'play_id', 'timestamp'], 
                     how='outer')

df_final = pd.merge(df_merged, 
                    game_events_fielders2[['game_str_play_id', 'game_str', 'play_id', 'timestamp', 'player_position','event_code']], 
                    on=['game_str_play_id', 'game_str', 'play_id', 'timestamp'], 
                    how='outer')

df_final = df_final.sort_values(['game_str', 'play_id', 'timestamp']).reset_index(drop=True)

# Step 4: Ensure all required columns are present
required_columns = ['game_str_play_id', 'game_str', 'play_id', 'timestamp', 'event_code', 'ball_pos', 'player_positions', 'player_position']
for col in required_columns:
    if col not in df_final.columns:
        df_final[col] = pd.NA

# Step 5: Reorder columns
df_final = df_final[required_columns]

Fill in the NaNs for player position and event_code with the current ongoing event_code * 1000, and the player_position * 1000.

In [492]:
#PROBABLY A MORE EFFICIENT WAY TO DO THIS
def fill_game_event(df):
    last_event_code = None
    for ind, row in df.iterrows():
        if not np.isnan(row['event_code']):
            last_event_code = row['event_code']
        else: #if the event code is nan, fill it with the last event code
            if last_event_code is not None:
                df.at[ind, 'event_code'] = last_event_code * 1000 #multipylby 10000 to indicate its ongoing an event
    return df 
df_final2 = fill_game_event(df_final)
df_final2['event_code'] = df_final2['event_code'].astype(int)

In [494]:
def fill_player_position(df):
    last_player_position = None
    for ind, row in df.iterrows():
        if not np.isnan(row['player_position']):
            last_player_position = row['player_position']
        else:
            if last_player_position is not None:
                df.at[ind, 'player_position'] = last_player_position * 1000
    return df
df_final2 = fill_player_position(df_final2)
df_final2['player_position'] = df_final2['player_position'].astype(int)

One thing is there are 10,740 rows where the player positions and the ball position are not defined, this is because player_pos and ball_pos rely on play_id to align with the game_events information. However, game_events and game_info have play_per_position. Game_events has both, but game_info only has play_per_game, so during pickoff plays, the alignment between play_per_game and play_id gets messed up

To fix this I went back and changed a line when first creating game_str_play_id, such that we use play_id in every instance besides when we have to use play_per_game (for the game_info) dataframe. This seems to fix the issue, as play_per_game in the game_info is consecutive and does not skip any values (allowing it to work).

__Note to self: If you run into any issues with this solution, try adding filler rows during the pick off plays to align play_per_game and play_id. Something that is sketchy is the number of rows once I changed to play_id from play_per_game for the game_events_fielders game_dict list reduced the final_df by 10k rows__. If you check my push its 877183, now its 863785

There are some games that do not have ball/player positional data for what we care about. For example, below you can see for game_str 1884_054_Vis1AR_Home1A the player_positions are all undefined for the first play, even though we know that the ball was hit and recived by an outfielder (according to the game_events table). This is because in the actual spreadsheet, the only players tracked are code 2 and 10: the catcher and the batter.

In [495]:
df_final2[df_final2['game_str'] == '1884_054_Vis1AR_Home1A'].head(1)

,game_str_play_id,game_str,play_id,timestamp,event_code,ball_pos,player_positions,player_position
404701,1884_054_Vis1AR_Home1A_1,1884_054_Vis1AR_Home1A,1,26790,1,"(-2.172081, 56.4543, 5.87439)",NaN,1

Thus, we should get rid of these plays since we do not know the player position of the outfielders on these plays.

In [496]:
df_final2

,game_str_play_id,game_str,play_id,timestamp,event_code,ball_pos,player_positions,player_position
0,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67373,1,"(-0.956334, 55.6236, 5.09457)","[{7: (-129.6927, 257.6286)}, {8: (-5.5209, 308...",1
1,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67423,1000,"(-0.73377, 48.891, 5.01744)","[{7: (-129.672, 257.6757)}, {8: (-5.5326, 308....",1000
2,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67473,1000,"(-0.530736, 42.2343, 4.86402)","[{7: (-129.6516, 257.7225)}, {8: (-5.5449, 308...",1000
3,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67523,1000,"(-0.347229, 35.6541, 4.63431)","[{7: (-129.6309, 257.7693)}, {8: (-5.5575, 308...",1000
4,1883_001_Vis1AB_Home1A_2,1883_001_Vis1AB_Home1A,2,67573,1000,"(-0.1832505, 29.1498, 4.32828)","[{7: (-129.6105, 257.8164)}, {8: (-5.5707, 308...",1000
...,...,...,...,...,...,...,...,...
865828,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088650,5000,"(-0.1461255, 21.19704, 2.972616)","[{7: (-116.9289, 261.9531)}, {8: (-15.9993, 29...",0
865829,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088700,5000,"(-0.1120776, 15.2247, 2.22204)","[{7: (-116.8758, 261.9132)}, {8: (-16.0356, 29...",0
865830,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088750,5000,"(-0.0677004, 9.32463, 1.396905)","[{7: (-116.823, 261.8733)}, {8: (-16.0716, 299...",0
865831,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088800,5000,"(-0.0129942, 3.49686, 0.497208)","[{7: (-116.7702, 261.8337)}, {8: (-16.1079, 29...",0
865832,1884_143_Vis4BE_Home4A_288,1884_143_Vis4BE_Home4A,288,10088850,5000,"(0.0520407, -2.258586, -0.477042)","[{7: (-116.7174, 261.7941)}, {8: (-16.1442, 29...",0

Okay now let us filter out wall balls, judging from Steen's slack message of a generic field.

In [56]:
first_base_pos = (62.58, 63.64)
second_base_pos = (0, 127.28)
third_base_pos = (-62.58, 63.64)
home_plate_pos = (0, 0.71)

wall_pos =

SyntaxError: invalid syntax (286477422.py, line 6)

## To do: filter out wall balls, corner balls, filter out rolling balls, label the plays, change ball pos and player_pos to distance from player, get velocity, fix game_events_fielders 2 --> hopefully will fix game_dict2